n8n/workflows/llm-generators.json
{
  "name": "llm-generators",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "diagnostic-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-001",
      "name": "Diagnostic Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        100
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// ─── Diagnostic Build Prompt (v3 — Templated, year-baseline) ─────\nconst p = ($json && $json.body) || $json || {};\nconst grade = Number(p.grade); const safeGrade = Number.isFinite(grade) && grade > 0 ? grade : 5;\nconst subjectInput = String(p.subject || 'Maths').trim();\nconst goal = String(p.goal || 'Curriculum Alignment').trim();\nconst region = String(p.region || 'UK').trim();\nconst studentId = String(p.student_id || p.studentId || '').trim();\nconst totalQ = Number(p.numQuestions != null ? p.numQuestions : p.totalQuestions);\nconst safeTotal = Number.isFinite(totalQ) && totalQ > 0 ? totalQ : 10;\nconst prevGrade = Math.max(0, safeGrade - 1);\n\nfunction hash32(str) {\n  let h = 2166136261;\n  for (let i = 0; i < str.length; i++) { h ^= str.charCodeAt(i); h = (h * 16777619) >>> 0; }\n  return h >>> 0;\n}\nfunction guessSubject(text) {\n  const t = String(text || '').toLowerCase();\n  if (/math|algebra|geometry|fraction|equation|number|arithmet/.test(t)) return 'math';\n  if (/scien|biolog|chem|physic|atom|cell|ecosystem|acid|base|reaction|force|energy|gravit|electric|photosynt|respira|plant|animal|organism|microb/.test(t)) return 'science';\n  if (/english|grammar|literature|poem|poetry|essay|writing|read|simile|metaphor|noun|verb|adject|punctuat|spell|comprehens/.test(t)) return 'english';\n  if (/french|spanish|hindi|german|mandarin|language|vocabular|conjugat/.test(t)) return 'language';\n  if (/histor|civil|empire|war|revolution|ancient|medieval|king|queen/.test(t)) return 'history';\n  if (/geograph|continent|country|map|river|mountain|climate|capital/.test(t)) return 'geography';\n  if (/art|paint|draw|color|sculpture|design/.test(t)) return 'art';\n  if (/music|rhythm|melody|piano|guitar|note|song|instrument/.test(t)) return 'music';\n  return 'general';\n}\nconst THEME_POOLS = {\n  math:['lab','space','studio','theater'], science:['lab','space','ocean','garden'],\n  english:['theater','studio','garden','ocean'], language:['theater','studio','garden','space'],\n  history:['theater','studio','lab','ocean'], geography:['ocean','garden','space','studio'],\n  art:['studio','theater','garden','ocean'], music:['theater','studio','space','garden'],\n  general:['garden','space','theater','ocean','lab','studio'],\n};\nfunction pickTheme(subjectId, key) {\n  const pool = THEME_POOLS[subjectId] || THEME_POOLS.general;\n  return pool[hash32(key) % pool.length];\n}\n\nconst template = 'quiz-live';\nconst subjectId = guessSubject(subjectInput);\nconst themeId = pickTheme(subjectId, subjectInput + '|' + studentId + '|' + safeGrade + '|diagnostic');\n\nconst curriculumNote =\n  region === 'UK'        ? \"Match the UK National Curriculum for Year \" + prevGrade + \".\" :\n  region === 'USA'       ? \"Match the US Common Core for Grade \" + prevGrade + \".\" :\n  region === 'Australia' ? \"Match the ACARA Australian Curriculum V9 for Year \" + prevGrade + \".\" :\n  region === 'India'     ? \"Match the NCERT/CBSE syllabus for Class \" + prevGrade + \".\" :\n  region === 'Singapore' ? \"Match the Singapore MOE framework for Primary/Secondary \" + prevGrade + \".\" :\n  region === 'NZ'        ? \"Match the New Zealand Curriculum for Year \" + prevGrade + \".\" :\n  \"Match the regional curriculum for the previous year.\";\n\nconst goalNote =\n  goal === 'Skill Development' ? \"Bias toward skill-application questions over factual recall.\" :\n  goal === 'Exam Prep'         ? \"Mix question styles used in formal exams. Include a few tricky distractors.\" :\n  \"Cover the breadth of last year's curriculum so gaps are visible.\";\n\nconst systemBase = [\n  'ROLE: You are a premium K-12 DIAGNOSTIC test designer.',\n  'OUTPUT: ONLY a single JSON object. No markdown fences. No prose. No comments. No trailing commas.',\n  'Start with { and end with }.',\n  '',\n  'CORE RULE — PREVIOUS YEAR ONLY',\n  'Generate diagnostic questions for ONE GRADE BELOW the student\\'s current grade.',\n  'Student is Grade ' + safeGrade + '. Test Grade ' + prevGrade + ' content.',\n  'Goal: surface gaps in the previous year so the teacher can plan remediation.',\n  '',\n  'CURRICULUM ALIGNMENT',\n  curriculumNote,\n  'Use vocabulary, examples, and depth appropriate to that year\\'s curriculum standards.',\n  '',\n  'GOAL ORIENTATION',\n  goalNote,\n  '',\n  'CONTENT RULES',\n  '- Distribute across 4-5 distinct SKILLS within the subject. Tag each question with its skill.',\n  '- Difficulty mix: 40% easy, 40% medium, 20% hard. Tag each question with its difficulty.',\n  '- Exactly 4 options per MCQ. Exactly ONE correct.',\n  '- Wrong options must reflect common misconceptions at that level (not silly choices).',\n  '- Every question MUST have a 1-sentence explanation.',\n  '',\n  'OUTPUT SHAPE — emit ONLY these fields',\n  '{',\n  '  \"title\": \"<short title — e.g. \\\"Grade ' + prevGrade + ' ' + subjectInput + ' Diagnostic\\\">\",',\n  '  \"subtitle\": \"Grade ' + safeGrade + ' student · ' + subjectInput + ' · Diagnostic (' + region + ')\",',\n  '  \"mode\": \"diagnostic\",',\n  '  \"timed\": false,',\n  '  \"showAnalysis\": true,',\n  '  \"questions\": [ ... ' + safeTotal + ' questions ... ]',\n  '}',\n  '',\n  'QUESTION SHAPE',\n  '{ id: \"q1\", text, options: [4 strings], correctIndex: 0-3, explanation, skill: \"<short skill tag>\", difficulty: \"easy\"|\"medium\"|\"hard\" }'\n];\nconst system = systemBase.join('\\n');\n\nconst userMsg = [\n  'Subject: ' + subjectInput + ', Region: ' + region + '.',\n  'Current grade: ' + safeGrade + '. Test content from Grade ' + prevGrade + '.',\n  'Parent goal: ' + goal + '.',\n  'Total questions: ' + safeTotal\n].join('\\n');\n\nreturn [{ json: { system: system, user: userMsg, _payload: p, _kind: 'diagnostic-generate', _template: template, _themeId: themeId, _subjectId: subjectId } }];\n"
      },
      "id": "bp-001",
      "name": "Diagnostic Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        100
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($json._payload && $json._payload.model) || 'claude-sonnet-4-5', max_tokens: 8000, system: $json.system, messages: [{ role: 'user', content: $json.user }] }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "cl-001",
      "name": "Diagnostic Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        60
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($('Diagnostic Build Prompt').first().json._payload && $('Diagnostic Build Prompt').first().json._payload.hfModel) || 'meta-llama/Llama-3.3-70B-Instruct', messages: [{ role: 'system', content: $('Diagnostic Build Prompt').first().json.system }, { role: 'user', content: $('Diagnostic Build Prompt').first().json.user }], max_tokens: 4000, temperature: 0.3 }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "hf-001",
      "name": "Diagnostic HF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        160
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nlet out = null;\nlet errMsg = null;\ntry {\n  const data = $json || {};\n  let text = '';\n  let provider = 'unknown';\n  let model = '';\n  if (data.content && Array.isArray(data.content) && data.content[0] && data.content[0].text) {\n    text = data.content[0].text; provider = 'claude'; model = data.model || '';\n  } else if (data.choices && Array.isArray(data.choices) && data.choices[0] && data.choices[0].message && data.choices[0].message.content) {\n    text = data.choices[0].message.content; provider = 'hf'; model = data.model || '';\n  } else if (data.error) {\n    const em = typeof data.error === 'string' ? data.error : (data.error.message || JSON.stringify(data.error));\n    throw new Error('Provider error: ' + String(em).slice(0, 300));\n  } else {\n    throw new Error('Unrecognized LLM response: ' + JSON.stringify(data).slice(0, 200));\n  }\n  let s = String(text || '').trim();\n  s = s.replace(/^```(?:json)?\\s*\\n?/i, '').replace(/\\n?```\\s*$/g, '').trim();\n  const startObj = s.indexOf('{'); const startArr = s.indexOf('[');\n  let start; if (startObj === -1) start = startArr; else if (startArr === -1) start = startObj; else start = Math.min(startObj, startArr);\n  if (start === -1) throw new Error('No JSON: ' + s.slice(0, 200));\n  const end = Math.max(s.lastIndexOf('}'), s.lastIndexOf(']'));\n  if (end <= start) throw new Error('Unbalanced JSON: ' + s.slice(0, 200));\n  let raw = s.slice(start, end + 1);\n  raw = raw.replace(/^(\\s*)\\/\\/[^\\n]*$/gm, '$1');\n  raw = raw.replace(/\\/\\*[\\s\\S]*?\\*\\//g, '');\n  raw = raw.replace(/,(\\s*[\\]\\}])/g, '$1');\n  let parsed;\n  try { parsed = JSON.parse(raw); }\n  catch (e) {\n    const m = /position\\s+(\\d+)/i.exec(e.message);\n    let snippet = '';\n    if (m) {\n      const pos = parseInt(m[1]);\n      const from = Math.max(0, pos - 60); const to = Math.min(raw.length, pos + 60);\n      snippet = ' near: ...' + raw.slice(from, to).replace(/\\n/g, '\\\\n') + '...';\n    }\n    throw new Error('JSON parse failed: ' + e.message + snippet);\n  }\n  if (!parsed || typeof parsed !== 'object') throw new Error('Parsed not object');\n\n// ─── Auto-repair + content validators ────────────────────────────\nfunction sanitizeStr(s) { return typeof s === 'string' ? s.trim() : ''; }\nfunction uniqueOptions(opts) {\n  if (!Array.isArray(opts)) return [];\n  const seen = new Set(); const out = [];\n  for (const o of opts) {\n    const v = sanitizeStr(typeof o === 'string' ? o : String(o));\n    if (v && !seen.has(v.toLowerCase())) { seen.add(v.toLowerCase()); out.push(v); }\n  }\n  return out;\n}\nfunction repairMCQ(q) {\n  if (!q || typeof q !== 'object') return null;\n  q.text = sanitizeStr(q.text || q.question || '');\n  if (!q.text) return null;\n  q.options = uniqueOptions(q.options);\n  if (q.options.length < 2) return null;\n  let ci = Number(q.correctIndex);\n  if (!Number.isFinite(ci) || ci < 0 || ci >= q.options.length) ci = 0;\n  q.correctIndex = ci;\n  if (q.explanation) q.explanation = sanitizeStr(q.explanation);\n  return q;\n}\nfunction repairSlide(s) {\n  if (!s || typeof s !== 'object' || !s.type) return null;\n  // Ensure notes — fall back to a short default rather than dropping the slide\n  if (!sanitizeStr(s.notes)) s.notes = 'Walk the student through this slide. Ask one question to check understanding.';\n  return s;\n}\n\nlet template = '';\nlet themeId = 'garden';\nlet subjectId = 'general';\ntry {\n  const u = $('Diagnostic Build Prompt').first().json;\n  if (u && u._template) template = String(u._template);\n  if (u && u._themeId) themeId = String(u._themeId);\n  if (u && u._subjectId) subjectId = String(u._subjectId);\n} catch (_) {}\n\n  if (!Array.isArray(parsed.questions)) throw new Error('Missing questions array');\n  const cleanQ = [];\n  for (const q of parsed.questions) {\n    const r = repairMCQ(q);\n    if (r) { if (!r.id) r.id = 'q' + (cleanQ.length + 1); cleanQ.push(r); }\n  }\n  if (cleanQ.length < 5) throw new Error('Too few valid questions after repair (got ' + cleanQ.length + ', need >= 5)');\n  out = {\n    format: 'template-v1',\n    template: template || 'quiz-live',\n    themeId: themeId,\n    title: parsed.title || 'Diagnostic',\n    subtitle: parsed.subtitle,\n    mode: 'diagnostic',\n    timed: !!parsed.timed,\n    totalTimeMin: parsed.totalTimeMin,\n    showAnalysis: parsed.showAnalysis !== false,\n    questions: cleanQ,\n    _provider: provider,\n    _model: model,\n  };\n\n} catch (e) {\n  errMsg = (e && e.message) ? e.message : String(e);\n}\nif (errMsg) return [{ json: { error: errMsg } }];\nreturn [{ json: out }];\n"
      },
      "id": "pr-001",
      "name": "Diagnostic Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        100
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $json || {};\nlet msg = 'diagnostic-generate: AI generation failed';\nif (data.error) {\n  if (typeof data.error === 'string') msg = data.error;\n  else if (data.error.message) msg = data.error.message;\n  else msg = JSON.stringify(data.error).slice(0, 300);\n} else if (data.message) msg = data.message;\nreturn [{ json: { error: msg } }];"
      },
      "id": "be-001",
      "name": "Diagnostic Build Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error ? 502 : 200 }}"
        }
      },
      "id": "rs-001",
      "name": "Diagnostic Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "diagnostic-analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-002",
      "name": "Analyze Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const systemBase = [\n  'ROLE: You are a warm, expert tutor analysing a student\\'s diagnostic test result for the parent and tutor.',\n  'OUTPUT: ONLY a JSON object matching the schema at the bottom. NEVER prose, NEVER markdown.',\n  '',\n  '═══════════════════════════════════════════',\n  'TONE & QUALITY',\n  '═══════════════════════════════════════════',\n  'Warm, specific, encouraging. Reference actual skills and scores from the input.',\n  'Never use \\'weak\\' or \\'bad\\'. Say \\'needs more practice with…\\'',\n  'All content must be actionable — concrete, time-bounded, classroom-ready.',\n  '',\n  '═══════════════════════════════════════════',\n  'CONTENT REQUIREMENTS',\n  '═══════════════════════════════════════════',\n  '- 2-3 STRENGTHS — specific and encouraging, max 12 words each.',\n  '- 2-3 WEAKNESSES — kind, specific, growth-oriented; max 14 words each.',\n  '- 3-4 RECOMMENDATIONS — concrete and time-bounded, max 16 words each (e.g. \\'Spend 10 minutes daily for one week practising linear equations using real-world word problems\\').',\n  '- analysisText — one warm paragraph (3-4 sentences) referencing actual skills and scores.',\n  '',\n  '═══════════════════════════════════════════',\n  'OUTPUT FORMAT — STRICT JSON ONLY',\n  '═══════════════════════════════════════════',\n  'Start your reply with the opening { character. End with }.',\n  'No markdown fences. No prose. No JS // comments. No /* */ comments. No trailing commas.',\n  '',\n  'Schema:',\n  '{',\n  '  \"strengths\": [\"...\", \"...\"],',\n  '  \"weaknesses\": [\"...\", \"...\"],',\n  '  \"recommendations\": [\"...\", \"...\", \"...\"],',\n  '  \"analysisText\": \"...\"',\n  '}'\n];\nconst system = systemBase.join('\\n');\nconst p = ($json && $json.body) || $json || {};\nconst questions = Array.isArray(p.questions) ? p.questions : [];\nconst answers = Array.isArray(p.answers) ? p.answers : [];\nconst byId = Object.fromEntries(answers.map(a => [a && a.questionId, a && a.chosenIndex]));\nconst skillCounts = {};\nlet correct = 0;\nfor (const q of questions) {\n  const skill = (q && q.skill) || 'General';\n  skillCounts[skill] = skillCounts[skill] || { correct: 0, total: 0 };\n  skillCounts[skill].total += 1;\n  const c = byId[q && q.id];\n  if (c !== undefined && c === q.correctIndex) { correct += 1; skillCounts[skill].correct += 1; }\n}\nconst total = Math.max(1, questions.length);\nconst score = Math.round((correct / total) * 100);\nconst skills = {};\nObject.entries(skillCounts).forEach(([k, v]) => { skills[k] = Math.round((v.correct / Math.max(1, v.total)) * 100); });\nconst skillsLine = Object.entries(skills).map(([k, v]) => k + ': ' + v + '%').join(', ');\nconst userMsg = [\n  'Quiz id: ' + (p.quizId || ''),\n  'Overall score: ' + score + '% (' + correct + '/' + total + ')',\n  'Per-skill scores: ' + skillsLine\n].join('\\n');\nreturn [{ json: { system: system, user: userMsg, _payload: p, _kind: 'diagnostic-analyze', _score: score, _skills: skills } }];"
      },
      "id": "bp-002",
      "name": "Analyze Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($json._payload && $json._payload.model) || 'claude-haiku-4-5', max_tokens: 4000, system: $json.system, messages: [{ role: 'user', content: $json.user }] }) }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "cl-002",
      "name": "Analyze Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        260
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($('Analyze Build Prompt').first().json._payload && $('Analyze Build Prompt').first().json._payload.hfModel) || 'meta-llama/Llama-3.3-70B-Instruct', messages: [{ role: 'system', content: $('Analyze Build Prompt').first().json.system }, { role: 'user', content: $('Analyze Build Prompt').first().json.user }], max_tokens: 2000, temperature: 0.3 }) }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "hf-002",
      "name": "Analyze HF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        360
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "let out = null;\nlet errMsg = null;\ntry {\n  const data = $json || {};\n  let text = '';\n  let provider = 'unknown';\n  let model = '';\n  if (data.content && Array.isArray(data.content) && data.content[0] && data.content[0].text) { text = data.content[0].text; provider = 'claude'; model = data.model || ''; }\n  else if (data.choices && Array.isArray(data.choices) && data.choices[0] && data.choices[0].message && data.choices[0].message.content) { text = data.choices[0].message.content; provider = 'hf'; model = data.model || ''; }\n  else if (data.error) { const em = typeof data.error === 'string' ? data.error : (data.error.message || JSON.stringify(data.error)); throw new Error('Provider error: ' + String(em).slice(0, 300)); }\n  else throw new Error('Unrecognized LLM response: ' + JSON.stringify(data).slice(0, 200));\n  let s = String(text || '').trim();\n  s = s.replace(/^```(?:json)?\\s*\\n?/i, '').replace(/\\n?```\\s*$/g, '').trim();\n  const startObj = s.indexOf('{'); const startArr = s.indexOf('[');\n  let start; if (startObj === -1) start = startArr; else if (startArr === -1) start = startObj; else start = Math.min(startObj, startArr);\n  if (start === -1) throw new Error('No JSON: ' + s.slice(0, 200));\n  const end = Math.max(s.lastIndexOf('}'), s.lastIndexOf(']'));\n  if (end <= start) throw new Error('Unbalanced JSON: ' + s.slice(0, 200));\n  let raw = s.slice(start, end + 1);\n  raw = raw.replace(/^(\\s*)\\/\\/[^\\n]*$/gm, '$1');\n  raw = raw.replace(/\\/\\*[\\s\\S]*?\\*\\//g, '');\n  raw = raw.replace(/,(\\s*[\\]\\}])/g, '$1');\n  let parsed;\n  try { parsed = JSON.parse(raw); }\n  catch (e) {\n    const m = /position\\s+(\\d+)/i.exec(e.message);\n    let snippet = '';\n    if (m) { const pos = parseInt(m[1]); const from = Math.max(0, pos - 60); const to = Math.min(raw.length, pos + 60); snippet = ' near: ...' + raw.slice(from, to).replace(/\\n/g, '\\\\n') + '...'; }\n    throw new Error('JSON parse failed: ' + e.message + snippet);\n  }\n  if (!parsed || typeof parsed !== 'object') throw new Error('Parsed not object');\n  let bp = {};\n  try { bp = $('Analyze Build Prompt').first().json || {}; } catch {}\n  out = {\n    score: typeof bp._score === 'number' ? bp._score : 0,\n    skills: bp._skills || {},\n    strengths: Array.isArray(parsed.strengths) ? parsed.strengths : [],\n    weaknesses: Array.isArray(parsed.weaknesses) ? parsed.weaknesses : [],\n    recommendations: Array.isArray(parsed.recommendations) ? parsed.recommendations : [],\n    analysisText: parsed.analysisText || '',\n    _provider: provider,\n    _model: model,\n  };\n} catch (e) {\n  errMsg = (e && e.message) ? e.message : String(e);\n}\nif (errMsg) return [{ json: { error: errMsg } }];\nreturn [{ json: out }];"
      },
      "id": "pr-002",
      "name": "Analyze Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $json || {};\nlet msg = 'diagnostic-analyze: AI analysis failed';\nif (data.error) { if (typeof data.error === 'string') msg = data.error; else if (data.error.message) msg = data.error.message; else msg = JSON.stringify(data.error).slice(0, 300); } else if (data.message) msg = data.message;\nreturn [{ json: { error: msg } }];"
      },
      "id": "be-002",
      "name": "Analyze Build Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error ? 502 : 200 }}"
        }
      },
      "id": "rs-002",
      "name": "Analyze Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assessment-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-003",
      "name": "Assessment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// ─── Assessment Build Prompt (v3 — Templated) ───────────────────\nconst p = ($json && $json.body) || $json || {};\nconst grade = Number(p.grade); const safeGrade = Number.isFinite(grade) && grade > 0 ? grade : 5;\nconst topics = Array.isArray(p.topics) ? p.topics.filter(Boolean) : (p.topic ? [String(p.topic)] : []);\nconst subtopics = Array.isArray(p.subtopics) ? p.subtopics.filter(Boolean) : [];\nconst subjectInput = String(p.subject || 'Maths').trim();\nconst studentId = String(p.student_id || p.studentId || '').trim();\nconst totalQ = Number(p.numQ != null ? p.numQ : p.totalQuestions);\nconst safeTotal = Number.isFinite(totalQ) && totalQ > 0 ? totalQ : 12;\nconst timed = !!p.timed;\nconst totalTimeMin = Number(p.totalTime != null ? p.totalTime : p.totalTimeMin);\nconst safeTime = Number.isFinite(totalTimeMin) && totalTimeMin > 0 ? totalTimeMin : 30;\nconst marksTarget = Number(p.marks); const safeMarks = Number.isFinite(marksTarget) && marksTarget > 0 ? marksTarget : safeTotal * 2;\nconst passPct = Number(p.passMarkPct); const safePass = Number.isFinite(passPct) && passPct > 0 ? passPct : 60;\nconst difficulty = String(p.difficulty || 'Medium').trim();\n\nfunction hash32(str) {\n  let h = 2166136261;\n  for (let i = 0; i < str.length; i++) { h ^= str.charCodeAt(i); h = (h * 16777619) >>> 0; }\n  return h >>> 0;\n}\nfunction guessSubject(text) {\n  const t = String(text || '').toLowerCase();\n  if (/math|algebra|geometry|fraction|equation|number|arithmet/.test(t)) return 'math';\n  if (/scien|biolog|chem|physic|atom|cell|ecosystem|acid|base|reaction|force|energy|gravit|electric|photosynt|respira|plant|animal|organism|microb/.test(t)) return 'science';\n  if (/english|grammar|literature|poem|poetry|essay|writing|read|simile|metaphor|noun|verb|adject|punctuat|spell|comprehens/.test(t)) return 'english';\n  if (/french|spanish|hindi|german|mandarin|language|vocabular|conjugat/.test(t)) return 'language';\n  if (/histor|civil|empire|war|revolution|ancient|medieval|king|queen/.test(t)) return 'history';\n  if (/geograph|continent|country|map|river|mountain|climate|capital/.test(t)) return 'geography';\n  if (/art|paint|draw|color|sculpture|design/.test(t)) return 'art';\n  if (/music|rhythm|melody|piano|guitar|note|song|instrument/.test(t)) return 'music';\n  return 'general';\n}\nconst THEME_POOLS = {\n  math:['lab','space','studio','theater'], science:['lab','space','ocean','garden'],\n  english:['theater','studio','garden','ocean'], language:['theater','studio','garden','space'],\n  history:['theater','studio','lab','ocean'], geography:['ocean','garden','space','studio'],\n  art:['studio','theater','garden','ocean'], music:['theater','studio','space','garden'],\n  general:['garden','space','theater','ocean','lab','studio'],\n};\nfunction pickTheme(subjectId, key) {\n  const pool = THEME_POOLS[subjectId] || THEME_POOLS.general;\n  return pool[hash32(key) % pool.length];\n}\n\nconst template = 'quiz-live';\nconst topicKey = topics.join(',');\nconst subjectId = guessSubject(subjectInput + ' ' + topicKey);\nconst themeId = pickTheme(subjectId, topicKey + '|' + subjectInput + '|' + studentId + '|' + safeGrade + '|assessment');\n\nconst diffNote =\n  difficulty === 'Easy'   ? 'Difficulty mix: 60% easy, 30% medium, 10% hard.' :\n  difficulty === 'Hard'   ? 'Difficulty mix: 10% easy, 30% medium, 60% hard.' :\n  'Difficulty mix: 30% easy, 40% medium, 30% hard.';\n\nconst systemBase = [\n  'ROLE: You are a premium K-12 ASSESSMENT designer.',\n  'OUTPUT: ONLY a single JSON object. No markdown fences. No prose. No comments. No trailing commas.',\n  'Start with { and end with }.',\n  '',\n  'Build a graded assessment for Grade ' + safeGrade + ' covering: ' + (topics.join('; ') || '(general)') + (subtopics.length ? ' (sub-topics: ' + subtopics.join('; ') + ')' : '') + '.',\n  diffNote,\n  'Target total marks ≈ ' + safeMarks + '. Marks per question: easy=1, medium=2, hard=3.',\n  'Every question MUST have a 1-sentence explanation for the review screen.',\n  'Exactly 4 options per MCQ. Wrong options reflect plausible misconceptions.',\n  '',\n  'OUTPUT SHAPE — emit ONLY these fields',\n  '{',\n  '  \"title\": \"<assessment title>\",',\n  '  \"subtitle\": \"Grade ' + safeGrade + ' · ' + subjectInput + ' · Assessment\",',\n  '  \"mode\": \"assessment\",',\n  '  \"timed\": ' + (timed ? 'true' : 'false') + ',',\n  '  \"totalTimeMin\": ' + safeTime + ',',\n  '  \"passMarkPct\": ' + safePass + ',',\n  '  \"questions\": [ ... ' + safeTotal + ' questions ... ]',\n  '}',\n  '',\n  'QUESTION SHAPE',\n  '{ id: \"q1\", text, options: [4 strings], correctIndex: 0-3, explanation, marks: 1|2|3, difficulty: \"easy\"|\"medium\"|\"hard\" }'\n];\nconst system = systemBase.join('\\n');\n\nconst userMsg = [\n  'Topics: ' + (topics.length ? topics.join('; ') : '(general)'),\n  subtopics.length ? 'Sub-topics: ' + subtopics.join('; ') : '',\n  'Grade: ' + safeGrade + ', Subject: ' + subjectInput,\n  'Difficulty: ' + difficulty,\n  'Total questions: ' + safeTotal + (timed ? (', Timed: ' + safeTime + ' min') : ', Untimed'),\n  'Target total marks: ' + safeMarks + ', Pass mark: ' + safePass + '%'\n].filter(Boolean).join('\\n');\n\nreturn [{ json: { system: system, user: userMsg, _payload: p, _kind: 'assessment-generate', _template: template, _themeId: themeId, _subjectId: subjectId } }];\n"
      },
      "id": "bp-003",
      "name": "Assessment Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        500
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($json._payload && $json._payload.model) || 'claude-sonnet-4-5', max_tokens: 12000, system: $json.system, messages: [{ role: 'user', content: $json.user }] }) }}",
        "options": {
          "timeout": 240000
        }
      },
      "id": "cl-003",
      "name": "Assessment Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        460
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($('Assessment Build Prompt').first().json._payload && $('Assessment Build Prompt').first().json._payload.hfModel) || 'meta-llama/Llama-3.3-70B-Instruct', messages: [{ role: 'system', content: $('Assessment Build Prompt').first().json.system }, { role: 'user', content: $('Assessment Build Prompt').first().json.user }], max_tokens: 6000, temperature: 0.3 }) }}",
        "options": {
          "timeout": 240000
        }
      },
      "id": "hf-003",
      "name": "Assessment HF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        560
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nlet out = null;\nlet errMsg = null;\ntry {\n  const data = $json || {};\n  let text = '';\n  let provider = 'unknown';\n  let model = '';\n  if (data.content && Array.isArray(data.content) && data.content[0] && data.content[0].text) {\n    text = data.content[0].text; provider = 'claude'; model = data.model || '';\n  } else if (data.choices && Array.isArray(data.choices) && data.choices[0] && data.choices[0].message && data.choices[0].message.content) {\n    text = data.choices[0].message.content; provider = 'hf'; model = data.model || '';\n  } else if (data.error) {\n    const em = typeof data.error === 'string' ? data.error : (data.error.message || JSON.stringify(data.error));\n    throw new Error('Provider error: ' + String(em).slice(0, 300));\n  } else {\n    throw new Error('Unrecognized LLM response: ' + JSON.stringify(data).slice(0, 200));\n  }\n  let s = String(text || '').trim();\n  s = s.replace(/^```(?:json)?\\s*\\n?/i, '').replace(/\\n?```\\s*$/g, '').trim();\n  const startObj = s.indexOf('{'); const startArr = s.indexOf('[');\n  let start; if (startObj === -1) start = startArr; else if (startArr === -1) start = startObj; else start = Math.min(startObj, startArr);\n  if (start === -1) throw new Error('No JSON: ' + s.slice(0, 200));\n  const end = Math.max(s.lastIndexOf('}'), s.lastIndexOf(']'));\n  if (end <= start) throw new Error('Unbalanced JSON: ' + s.slice(0, 200));\n  let raw = s.slice(start, end + 1);\n  raw = raw.replace(/^(\\s*)\\/\\/[^\\n]*$/gm, '$1');\n  raw = raw.replace(/\\/\\*[\\s\\S]*?\\*\\//g, '');\n  raw = raw.replace(/,(\\s*[\\]\\}])/g, '$1');\n  let parsed;\n  try { parsed = JSON.parse(raw); }\n  catch (e) {\n    const m = /position\\s+(\\d+)/i.exec(e.message);\n    let snippet = '';\n    if (m) {\n      const pos = parseInt(m[1]);\n      const from = Math.max(0, pos - 60); const to = Math.min(raw.length, pos + 60);\n      snippet = ' near: ...' + raw.slice(from, to).replace(/\\n/g, '\\\\n') + '...';\n    }\n    throw new Error('JSON parse failed: ' + e.message + snippet);\n  }\n  if (!parsed || typeof parsed !== 'object') throw new Error('Parsed not object');\n\n// ─── Auto-repair + content validators ────────────────────────────\nfunction sanitizeStr(s) { return typeof s === 'string' ? s.trim() : ''; }\nfunction uniqueOptions(opts) {\n  if (!Array.isArray(opts)) return [];\n  const seen = new Set(); const out = [];\n  for (const o of opts) {\n    const v = sanitizeStr(typeof o === 'string' ? o : String(o));\n    if (v && !seen.has(v.toLowerCase())) { seen.add(v.toLowerCase()); out.push(v); }\n  }\n  return out;\n}\nfunction repairMCQ(q) {\n  if (!q || typeof q !== 'object') return null;\n  q.text = sanitizeStr(q.text || q.question || '');\n  if (!q.text) return null;\n  q.options = uniqueOptions(q.options);\n  if (q.options.length < 2) return null;\n  let ci = Number(q.correctIndex);\n  if (!Number.isFinite(ci) || ci < 0 || ci >= q.options.length) ci = 0;\n  q.correctIndex = ci;\n  if (q.explanation) q.explanation = sanitizeStr(q.explanation);\n  return q;\n}\nfunction repairSlide(s) {\n  if (!s || typeof s !== 'object' || !s.type) return null;\n  // Ensure notes — fall back to a short default rather than dropping the slide\n  if (!sanitizeStr(s.notes)) s.notes = 'Walk the student through this slide. Ask one question to check understanding.';\n  return s;\n}\n\nlet template = '';\nlet themeId = 'garden';\nlet subjectId = 'general';\ntry {\n  const u = $('Assessment Build Prompt').first().json;\n  if (u && u._template) template = String(u._template);\n  if (u && u._themeId) themeId = String(u._themeId);\n  if (u && u._subjectId) subjectId = String(u._subjectId);\n} catch (_) {}\n\n  if (!Array.isArray(parsed.questions)) throw new Error('Missing questions array');\n  const cleanQ = [];\n  let totalMarks = 0;\n  for (const q of parsed.questions) {\n    const r = repairMCQ(q);\n    if (r) {\n      if (!r.id) r.id = 'q' + (cleanQ.length + 1);\n      if (!r.marks) r.marks = r.difficulty === 'hard' ? 3 : r.difficulty === 'medium' ? 2 : 1;\n      totalMarks += Number(r.marks) || 1;\n      cleanQ.push(r);\n    }\n  }\n  if (cleanQ.length < 5) throw new Error('Too few valid questions after repair (got ' + cleanQ.length + ', need >= 5)');\n  out = {\n    format: 'template-v1',\n    template: template || 'quiz-live',\n    themeId: themeId,\n    title: parsed.title || 'Assessment',\n    subtitle: parsed.subtitle,\n    mode: 'assessment',\n    timed: !!parsed.timed,\n    totalTimeMin: parsed.totalTimeMin,\n    totalMarks: totalMarks,\n    passMarkPct: parsed.passMarkPct || 60,\n    questions: cleanQ,\n    _provider: provider,\n    _model: model,\n  };\n\n} catch (e) {\n  errMsg = (e && e.message) ? e.message : String(e);\n}\nif (errMsg) return [{ json: { error: errMsg } }];\nreturn [{ json: out }];\n"
      },
      "id": "pr-003",
      "name": "Assessment Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $json || {};\nlet msg = 'assessment-generate: AI generation failed';\nif (data.error) { if (typeof data.error === 'string') msg = data.error; else if (data.error.message) msg = data.error.message; else msg = JSON.stringify(data.error).slice(0, 300); } else if (data.message) msg = data.message;\nreturn [{ json: { error: msg } }];"
      },
      "id": "be-003",
      "name": "Assessment Build Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        620
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error ? 502 : 200 }}"
        }
      },
      "id": "rs-003",
      "name": "Assessment Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        500
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "worksheet-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-004",
      "name": "Worksheet Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        700
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// ─── Worksheet Build Prompt (v3 — Templated) ────────────────────\nconst p = ($json && $json.body) || $json || {};\nconst grade = Number(p.grade); const safeGrade = Number.isFinite(grade) && grade > 0 ? grade : 5;\nconst topic = String(p.topic || '').trim();\nconst subtopic = String(p.subtopic || '').trim();\nconst subjectInput = String(p.subject || 'Maths').trim();\nconst studentId = String(p.student_id || p.studentId || '').trim();\nconst wsType = String(p.type || 'Classwork').trim();\nconst sections = Array.isArray(p.sections) ? p.sections : [];\nconst includeAnswerKey = p.answerKey !== false;\n\nfunction hash32(str) {\n  let h = 2166136261;\n  for (let i = 0; i < str.length; i++) { h ^= str.charCodeAt(i); h = (h * 16777619) >>> 0; }\n  return h >>> 0;\n}\nfunction guessSubject(text) {\n  const t = String(text || '').toLowerCase();\n  if (/math|algebra|geometry|fraction|equation|number|arithmet/.test(t)) return 'math';\n  if (/scien|biolog|chem|physic|atom|cell|ecosystem|acid|base|reaction|force|energy|gravit|electric|photosynt|respira|plant|animal|organism|microb/.test(t)) return 'science';\n  if (/english|grammar|literature|poem|poetry|essay|writing|read|simile|metaphor|noun|verb|adject|punctuat|spell|comprehens/.test(t)) return 'english';\n  if (/french|spanish|hindi|german|mandarin|language|vocabular|conjugat/.test(t)) return 'language';\n  if (/histor|civil|empire|war|revolution|ancient|medieval|king|queen/.test(t)) return 'history';\n  if (/geograph|continent|country|map|river|mountain|climate|capital/.test(t)) return 'geography';\n  if (/art|paint|draw|color|sculpture|design/.test(t)) return 'art';\n  if (/music|rhythm|melody|piano|guitar|note|song|instrument/.test(t)) return 'music';\n  return 'general';\n}\nconst THEME_POOLS = {\n  math:['lab','space','studio','theater'], science:['lab','space','ocean','garden'],\n  english:['theater','studio','garden','ocean'], language:['theater','studio','garden','space'],\n  history:['theater','studio','lab','ocean'], geography:['ocean','garden','space','studio'],\n  art:['studio','theater','garden','ocean'], music:['theater','studio','space','garden'],\n  general:['garden','space','theater','ocean','lab','studio'],\n};\nfunction pickTheme(subjectId, key) {\n  const pool = THEME_POOLS[subjectId] || THEME_POOLS.general;\n  return pool[hash32(key) % pool.length];\n}\n\nconst template = 'worksheet-print';\nconst subjectId = guessSubject(subjectInput + ' ' + topic + ' ' + subtopic);\nconst themeId = pickTheme(subjectId, topic + '|' + subtopic + '|' + subjectInput + '|' + studentId + '|' + safeGrade + '|worksheet');\n\n// Map FE section labels → canonical schema types\nfunction mapLabel(label) {\n  const l = String(label || '').toLowerCase();\n  if (l.includes('mcq') || l.includes('multiple choice') || l.includes('choose the correct')) return 'mcq';\n  if (l.includes('fill') || l.includes('blank')) return 'fill-blank';\n  if (l.includes('match')) return 'match';\n  if (l.includes('short answer') || l.includes('find the error')) return 'short-answer';\n  if (l.includes('true') || l.includes('false')) return 'true-false';\n  if (l.includes('creative') || l.includes('sentence making') || l.includes('passage') || l.includes('comprehens')) return 'creative';\n  if (l.includes('sort')) return 'match';\n  return 'short-answer';\n}\nconst mappedSections = sections.length\n  ? Array.from(new Set(sections.map(mapLabel)))\n  : ['mcq', 'fill-blank', 'short-answer', 'true-false'];\n\nconst toneNote = wsType === 'Homework'\n  ? 'Tone: solo-friendly homework. Each section should include 1-line instructions the student can read alone.'\n  : 'Tone: classwork — teacher will guide. Instructions can be terser; include 1-2 stretch items per section.';\n\nconst systemBase = [\n  'ROLE: You are a premium K-12 printable-worksheet designer.',\n  'OUTPUT: ONLY a single JSON object. No markdown fences. No prose. No comments. No trailing commas.',\n  'Start with { and end with }.',\n  '',\n  'Build a printable A4 worksheet for Grade ' + safeGrade + '. ' + toneNote,\n  'Include sections of these EXACT types in this order: ' + mappedSections.join(', ') + '.',\n  'Each section gets 5-8 items (match: 5-7 pairs, creative: 1-2 prompts).',\n  'Real-world examples, age-appropriate, positive tone.',\n  '',\n  'OUTPUT SHAPE — emit ONLY these fields',\n  '{',\n  '  \"title\": \"<worksheet title>\",',\n  '  \"subtitle\": \"Grade ' + safeGrade + ' · ' + subjectInput + ' · ' + wsType + '\",',\n  '  \"intro\": \"<1 sentence: what the student will practice>\",',\n  '  \"sections\": [ ... ],',\n  '  \"showAnswerKey\": ' + (includeAnswerKey ? 'true' : 'false'),\n  '}',\n  '',\n  'SECTION SHAPES — match the \"type\" exactly',\n  'mcq:          { type:\"mcq\",          title, instructions?, items:[{question, options:[4], answer:\"<correct option TEXT>\"}] }',\n  'fill-blank:   { type:\"fill-blank\",   title, instructions?, items:[{sentence:\"... ___ ...\", answer}] }',\n  'match:        { type:\"match\",        title, instructions?, items:[{left, right}] }',\n  'short-answer: { type:\"short-answer\", title, instructions?, items:[{question, answer}] }',\n  'true-false:   { type:\"true-false\",   title, instructions?, items:[{statement, answer:\"True\"|\"False\"}] }',\n  'creative:     { type:\"creative\",     title, instructions?, items:[{prompt, lines?:8}] }',\n  '',\n  'For mcq, \"answer\" is the FULL OPTION TEXT (not an index).'\n];\nconst system = systemBase.join('\\n');\n\nconst userMsg = [\n  'Topic: ' + topic + (subtopic ? ' (' + subtopic + ')' : ''),\n  'Grade: ' + safeGrade + ', Subject: ' + subjectInput + ', Type: ' + wsType,\n  'Sections (in order): ' + mappedSections.join(', '),\n  'Include answer key: ' + (includeAnswerKey ? 'yes' : 'no')\n].join('\\n');\n\nreturn [{ json: { system: system, user: userMsg, _payload: p, _kind: 'worksheet-generate', _template: template, _themeId: themeId, _subjectId: subjectId } }];\n"
      },
      "id": "bp-004",
      "name": "Worksheet Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        700
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($json._payload && $json._payload.model) || 'claude-sonnet-4-5', max_tokens: 10000, system: $json.system, messages: [{ role: 'user', content: $json.user }] }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "cl-004",
      "name": "Worksheet Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        660
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($('Worksheet Build Prompt').first().json._payload && $('Worksheet Build Prompt').first().json._payload.hfModel) || 'meta-llama/Llama-3.3-70B-Instruct', messages: [{ role: 'system', content: $('Worksheet Build Prompt').first().json.system }, { role: 'user', content: $('Worksheet Build Prompt').first().json.user }], max_tokens: 5000, temperature: 0.3 }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "hf-004",
      "name": "Worksheet HF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        760
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nlet out = null;\nlet errMsg = null;\ntry {\n  const data = $json || {};\n  let text = '';\n  let provider = 'unknown';\n  let model = '';\n  if (data.content && Array.isArray(data.content) && data.content[0] && data.content[0].text) {\n    text = data.content[0].text; provider = 'claude'; model = data.model || '';\n  } else if (data.choices && Array.isArray(data.choices) && data.choices[0] && data.choices[0].message && data.choices[0].message.content) {\n    text = data.choices[0].message.content; provider = 'hf'; model = data.model || '';\n  } else if (data.error) {\n    const em = typeof data.error === 'string' ? data.error : (data.error.message || JSON.stringify(data.error));\n    throw new Error('Provider error: ' + String(em).slice(0, 300));\n  } else {\n    throw new Error('Unrecognized LLM response: ' + JSON.stringify(data).slice(0, 200));\n  }\n  let s = String(text || '').trim();\n  s = s.replace(/^```(?:json)?\\s*\\n?/i, '').replace(/\\n?```\\s*$/g, '').trim();\n  const startObj = s.indexOf('{'); const startArr = s.indexOf('[');\n  let start; if (startObj === -1) start = startArr; else if (startArr === -1) start = startObj; else start = Math.min(startObj, startArr);\n  if (start === -1) throw new Error('No JSON: ' + s.slice(0, 200));\n  const end = Math.max(s.lastIndexOf('}'), s.lastIndexOf(']'));\n  if (end <= start) throw new Error('Unbalanced JSON: ' + s.slice(0, 200));\n  let raw = s.slice(start, end + 1);\n  raw = raw.replace(/^(\\s*)\\/\\/[^\\n]*$/gm, '$1');\n  raw = raw.replace(/\\/\\*[\\s\\S]*?\\*\\//g, '');\n  raw = raw.replace(/,(\\s*[\\]\\}])/g, '$1');\n  let parsed;\n  try { parsed = JSON.parse(raw); }\n  catch (e) {\n    const m = /position\\s+(\\d+)/i.exec(e.message);\n    let snippet = '';\n    if (m) {\n      const pos = parseInt(m[1]);\n      const from = Math.max(0, pos - 60); const to = Math.min(raw.length, pos + 60);\n      snippet = ' near: ...' + raw.slice(from, to).replace(/\\n/g, '\\\\n') + '...';\n    }\n    throw new Error('JSON parse failed: ' + e.message + snippet);\n  }\n  if (!parsed || typeof parsed !== 'object') throw new Error('Parsed not object');\n\n// ─── Auto-repair + content validators ────────────────────────────\nfunction sanitizeStr(s) { return typeof s === 'string' ? s.trim() : ''; }\nfunction uniqueOptions(opts) {\n  if (!Array.isArray(opts)) return [];\n  const seen = new Set(); const out = [];\n  for (const o of opts) {\n    const v = sanitizeStr(typeof o === 'string' ? o : String(o));\n    if (v && !seen.has(v.toLowerCase())) { seen.add(v.toLowerCase()); out.push(v); }\n  }\n  return out;\n}\nfunction repairMCQ(q) {\n  if (!q || typeof q !== 'object') return null;\n  q.text = sanitizeStr(q.text || q.question || '');\n  if (!q.text) return null;\n  q.options = uniqueOptions(q.options);\n  if (q.options.length < 2) return null;\n  let ci = Number(q.correctIndex);\n  if (!Number.isFinite(ci) || ci < 0 || ci >= q.options.length) ci = 0;\n  q.correctIndex = ci;\n  if (q.explanation) q.explanation = sanitizeStr(q.explanation);\n  return q;\n}\nfunction repairSlide(s) {\n  if (!s || typeof s !== 'object' || !s.type) return null;\n  // Ensure notes — fall back to a short default rather than dropping the slide\n  if (!sanitizeStr(s.notes)) s.notes = 'Walk the student through this slide. Ask one question to check understanding.';\n  return s;\n}\n\nlet template = '';\nlet themeId = 'garden';\nlet subjectId = 'general';\ntry {\n  const u = $('Worksheet Build Prompt').first().json;\n  if (u && u._template) template = String(u._template);\n  if (u && u._themeId) themeId = String(u._themeId);\n  if (u && u._subjectId) subjectId = String(u._subjectId);\n} catch (_) {}\n\n  if (!Array.isArray(parsed.sections) || parsed.sections.length === 0) throw new Error('Missing sections array');\n  const cleanSections = [];\n  for (const sec of parsed.sections) {\n    if (!sec || !sec.type || !Array.isArray(sec.items)) continue;\n    const items = sec.items.filter(it => it && (it.question || it.sentence || it.statement || it.prompt || it.left));\n    if (items.length === 0) continue;\n    cleanSections.push({ ...sec, items });\n  }\n  if (cleanSections.length === 0) throw new Error('No valid sections after repair');\n  out = {\n    format: 'template-v1',\n    template: template || 'worksheet-print',\n    themeId: themeId,\n    title: parsed.title || 'Worksheet',\n    subtitle: parsed.subtitle,\n    intro: parsed.intro || 'Practice what you learned.',\n    studentNameLabel: parsed.studentNameLabel || 'Name: __________',\n    dateLabel: parsed.dateLabel || 'Date: __________',\n    sections: cleanSections,\n    showAnswerKey: parsed.showAnswerKey !== false,\n    _provider: provider,\n    _model: model,\n  };\n\n} catch (e) {\n  errMsg = (e && e.message) ? e.message : String(e);\n}\nif (errMsg) return [{ json: { error: errMsg } }];\nreturn [{ json: out }];\n"
      },
      "id": "pr-004",
      "name": "Worksheet Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        700
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $json || {};\nlet msg = 'worksheet-generate: AI generation failed';\nif (data.error) { if (typeof data.error === 'string') msg = data.error; else if (data.error.message) msg = data.error.message; else msg = JSON.stringify(data.error).slice(0, 300); } else if (data.message) msg = data.message;\nreturn [{ json: { error: msg } }];"
      },
      "id": "be-004",
      "name": "Worksheet Build Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        820
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error ? 502 : 200 }}"
        }
      },
      "id": "rs-004",
      "name": "Worksheet Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        700
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lessonplan-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-005",
      "name": "LessonPlan Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        900
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// ─── LessonPlan Build Prompt (v2 — Templated) ─────────────────────\nconst p = ($json && $json.body) || $json || {};\nconst grade = Number(p.grade); const safeGrade = Number.isFinite(grade) && grade > 0 ? grade : 5;\nconst duration = Number(p.duration); const safeDuration = Number.isFinite(duration) && duration > 0 ? duration : 55;\nconst topic = String(p.topic || '').trim();\nconst subtopic = String(p.subtopic || '').trim();\nconst subjectInput = String(p.subject || 'Maths').trim();\nconst studentId = String(p.student_id || p.studentId || '').trim();\n\nfunction hash32(str) {\n  let h = 2166136261;\n  for (let i = 0; i < str.length; i++) { h ^= str.charCodeAt(i); h = (h * 16777619) >>> 0; }\n  return h >>> 0;\n}\nfunction guessSubject(text) {\n  const t = String(text || '').toLowerCase();\n  if (/math|algebra|geometry|fraction|equation|number|arithmet/.test(t)) return 'math';\n  if (/scien|biolog|chem|physic|atom|cell|ecosystem|acid|base|reaction|force|energy|gravit|electric|photosynt|respira|plant|animal|organism|microb/.test(t)) return 'science';\n  if (/english|grammar|literature|poem|poetry|essay|writing|read|simile|metaphor|noun|verb|adject|punctuat|spell|comprehens/.test(t)) return 'english';\n  if (/french|spanish|hindi|german|mandarin|language|vocabular|conjugat/.test(t)) return 'language';\n  if (/histor|civil|empire|war|revolution|ancient|medieval|king|queen/.test(t)) return 'history';\n  if (/geograph|continent|country|map|river|mountain|climate|capital/.test(t)) return 'geography';\n  if (/art|paint|draw|color|sculpture|design/.test(t)) return 'art';\n  if (/music|rhythm|melody|piano|guitar|note|song|instrument/.test(t)) return 'music';\n  return 'general';\n}\nconst THEME_POOLS = {\n  math:      ['lab', 'space', 'studio', 'theater'],\n  science:   ['lab', 'space', 'ocean', 'garden'],\n  english:   ['theater', 'studio', 'garden', 'ocean'],\n  language:  ['theater', 'studio', 'garden', 'space'],\n  history:   ['theater', 'studio', 'lab', 'ocean'],\n  geography: ['ocean', 'garden', 'space', 'studio'],\n  art:       ['studio', 'theater', 'garden', 'ocean'],\n  music:     ['theater', 'studio', 'space', 'garden'],\n  general:   ['garden', 'space', 'theater', 'ocean', 'lab', 'studio'],\n};\nfunction pickTheme(subjectId, key) {\n  const pool = THEME_POOLS[subjectId] || THEME_POOLS.general;\n  return pool[hash32(key) % pool.length];\n}\n\nconst template = 'lessonplan-timeline';\nconst subjectId = guessSubject(subjectInput + ' ' + topic + ' ' + subtopic);\nconst themeId = pickTheme(subjectId, topic + '|' + subtopic + '|' + subjectInput + '|' + studentId + '|' + safeGrade + '|lessonplan');\n\nconst systemBase = [\n  'ROLE: You are a premium K-12 lesson-plan designer for 1-on-1 online tutoring.',\n  'OUTPUT: ONLY a single JSON object. No markdown fences. No prose. No comments. No trailing commas.',\n  'Start with { and end with }.',\n  '',\n  'Build a ' + safeDuration + '-minute lesson plan for Grade ' + safeGrade + '. The timeline must cover all 10 mandatory sections in order.',\n  'Times must add up to exactly ' + safeDuration + ' minutes.',\n  '',\n  '═══════════════════════════════════════════',\n  'OUTPUT SHAPE — emit ONLY these fields',\n  '═══════════════════════════════════════════',\n  '{',\n  '  \"title\": \"<lesson title>\",',\n  '  \"subtitle\": \"Grade ' + safeGrade + ' · ' + subjectInput + ' · ' + safeDuration + '-min session\",',\n  '  \"durationMin\": ' + safeDuration + ',',\n  '  \"objectives\": [\"By the end, the student will ...\", \"...\"],            // 3-5 objectives',\n  '  \"timeline\": [ ... 10 entries, one per mandatory section ... ],',\n  '  \"differentiation\": { \"below\": \"...\", \"at\": \"...\", \"above\": \"...\" },',\n  '  \"assessment\": \"<description + the 5 quick assessment questions>\",',\n  '  \"homework\": \"<short homework task with clear success criteria>\"',\n  '}',\n  '',\n  '═══════════════════════════════════════════',\n  'TIMELINE ENTRY SHAPE (10 entries, in this order)',\n  '═══════════════════════════════════════════',\n  '{ section: \"Icebreaker\",                          time: \"0-X min\",  durationMin, activity, materials?, notes }',\n  '{ section: \"Warm-up\",                              time, durationMin, activity, materials?, notes }',\n  '{ section: \"Learning Objective\",                   time, durationMin, activity, materials?, notes }',\n  '{ section: \"Definition\",                           time, durationMin, activity, materials?, notes }',\n  '{ section: \"Explanation\",                          time, durationMin, activity, materials?, notes }',\n  '{ section: \"Activity (I Do / We Do / You Do)\",     time, durationMin, activity, materials?, notes }',\n  '{ section: \"Skill Task\",                           time, durationMin, activity, materials?, notes }',\n  '{ section: \"Quick Assessment\",                     time, durationMin, activity, materials?, notes }',\n  '{ section: \"Key Takeaways\",                        time, durationMin, activity, materials?, notes }',\n  '{ section: \"Closure (HOTS)\",                       time, durationMin, activity, materials?, notes }',\n  '',\n  '\"notes\" is the teacher script — 2-4 sentences with what to say/ask/watch for. \"activity\" is what happens. \"materials\" lists tools (whiteboard, chat box, manipulatives).'\n];\nconst system = systemBase.join('\\n');\n\nconst userMsg = [\n  'Topic: ' + topic + (subtopic ? ' (' + subtopic + ')' : ''),\n  'Grade: ' + safeGrade + ', Subject: ' + subjectInput,\n  'Duration: ' + safeDuration + ' minutes total. Timeline durations must sum to ' + safeDuration + '.'\n].join('\\n');\n\nreturn [{ json: { system: system, user: userMsg, _payload: p, _kind: 'lessonplan-generate', _template: template, _themeId: themeId, _subjectId: subjectId } }];\n"
      },
      "id": "bp-005",
      "name": "LessonPlan Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        900
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($json._payload && $json._payload.model) || 'claude-sonnet-4-5', max_tokens: 6000, system: $json.system, messages: [{ role: 'user', content: $json.user }] }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "cl-005",
      "name": "LessonPlan Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        860
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($('LessonPlan Build Prompt').first().json._payload && $('LessonPlan Build Prompt').first().json._payload.hfModel) || 'meta-llama/Llama-3.3-70B-Instruct', messages: [{ role: 'system', content: $('LessonPlan Build Prompt').first().json.system }, { role: 'user', content: $('LessonPlan Build Prompt').first().json.user }], max_tokens: 3000, temperature: 0.3 }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "hf-005",
      "name": "LessonPlan HF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        960
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nlet out = null;\nlet errMsg = null;\ntry {\n  const data = $json || {};\n  let text = '';\n  let provider = 'unknown';\n  let model = '';\n  if (data.content && Array.isArray(data.content) && data.content[0] && data.content[0].text) {\n    text = data.content[0].text; provider = 'claude'; model = data.model || '';\n  } else if (data.choices && Array.isArray(data.choices) && data.choices[0] && data.choices[0].message && data.choices[0].message.content) {\n    text = data.choices[0].message.content; provider = 'hf'; model = data.model || '';\n  } else if (data.error) {\n    const em = typeof data.error === 'string' ? data.error : (data.error.message || JSON.stringify(data.error));\n    throw new Error('Provider error: ' + String(em).slice(0, 300));\n  } else {\n    throw new Error('Unrecognized LLM response: ' + JSON.stringify(data).slice(0, 200));\n  }\n  let s = String(text || '').trim();\n  s = s.replace(/^```(?:json)?\\s*\\n?/i, '').replace(/\\n?```\\s*$/g, '').trim();\n  const startObj = s.indexOf('{'); const startArr = s.indexOf('[');\n  let start; if (startObj === -1) start = startArr; else if (startArr === -1) start = startObj; else start = Math.min(startObj, startArr);\n  if (start === -1) throw new Error('No JSON: ' + s.slice(0, 200));\n  const end = Math.max(s.lastIndexOf('}'), s.lastIndexOf(']'));\n  if (end <= start) throw new Error('Unbalanced JSON: ' + s.slice(0, 200));\n  let raw = s.slice(start, end + 1);\n  raw = raw.replace(/^(\\s*)\\/\\/[^\\n]*$/gm, '$1');\n  raw = raw.replace(/\\/\\*[\\s\\S]*?\\*\\//g, '');\n  raw = raw.replace(/,(\\s*[\\]\\}])/g, '$1');\n  let parsed;\n  try { parsed = JSON.parse(raw); }\n  catch (e) {\n    const m = /position\\s+(\\d+)/i.exec(e.message);\n    let snippet = '';\n    if (m) {\n      const pos = parseInt(m[1]);\n      const from = Math.max(0, pos - 60); const to = Math.min(raw.length, pos + 60);\n      snippet = ' near: ...' + raw.slice(from, to).replace(/\\n/g, '\\\\n') + '...';\n    }\n    throw new Error('JSON parse failed: ' + e.message + snippet);\n  }\n  if (!parsed || typeof parsed !== 'object') throw new Error('Parsed not object');\n\n// ─── Auto-repair + content validators ────────────────────────────\nfunction sanitizeStr(s) { return typeof s === 'string' ? s.trim() : ''; }\nfunction uniqueOptions(opts) {\n  if (!Array.isArray(opts)) return [];\n  const seen = new Set(); const out = [];\n  for (const o of opts) {\n    const v = sanitizeStr(typeof o === 'string' ? o : String(o));\n    if (v && !seen.has(v.toLowerCase())) { seen.add(v.toLowerCase()); out.push(v); }\n  }\n  return out;\n}\nfunction repairMCQ(q) {\n  if (!q || typeof q !== 'object') return null;\n  q.text = sanitizeStr(q.text || q.question || '');\n  if (!q.text) return null;\n  q.options = uniqueOptions(q.options);\n  if (q.options.length < 2) return null;\n  let ci = Number(q.correctIndex);\n  if (!Number.isFinite(ci) || ci < 0 || ci >= q.options.length) ci = 0;\n  q.correctIndex = ci;\n  if (q.explanation) q.explanation = sanitizeStr(q.explanation);\n  return q;\n}\nfunction repairSlide(s) {\n  if (!s || typeof s !== 'object' || !s.type) return null;\n  // Ensure notes — fall back to a short default rather than dropping the slide\n  if (!sanitizeStr(s.notes)) s.notes = 'Walk the student through this slide. Ask one question to check understanding.';\n  return s;\n}\n\nlet template = '';\nlet themeId = 'garden';\nlet subjectId = 'general';\ntry {\n  const u = $('LessonPlan Build Prompt').first().json;\n  if (u && u._template) template = String(u._template);\n  if (u && u._themeId) themeId = String(u._themeId);\n  if (u && u._subjectId) subjectId = String(u._subjectId);\n} catch (_) {}\n\n  if (!Array.isArray(parsed.timeline) || parsed.timeline.length < 6) throw new Error('Timeline needs >= 6 entries');\n  if (!Array.isArray(parsed.objectives) || parsed.objectives.length === 0) throw new Error('Missing objectives');\n  if (!parsed.differentiation || typeof parsed.differentiation !== 'object') {\n    parsed.differentiation = { below: 'Provide extra scaffolding and worked examples.', at: 'Run the lesson as planned.', above: 'Stretch with a HOTS task.' };\n  }\n  const cleanTimeline = parsed.timeline.filter(t => t && t.section && t.activity);\n  if (cleanTimeline.length < 6) throw new Error('Too few valid timeline entries after repair');\n  out = {\n    format: 'template-v1',\n    template: template || 'lessonplan-timeline',\n    themeId: themeId,\n    title: parsed.title || 'Lesson Plan',\n    subtitle: parsed.subtitle,\n    durationMin: parsed.durationMin || 55,\n    objectives: parsed.objectives,\n    timeline: cleanTimeline,\n    differentiation: parsed.differentiation,\n    assessment: parsed.assessment || '',\n    homework: parsed.homework || '',\n    _provider: provider,\n    _model: model,\n  };\n\n} catch (e) {\n  errMsg = (e && e.message) ? e.message : String(e);\n}\nif (errMsg) return [{ json: { error: errMsg } }];\nreturn [{ json: out }];\n"
      },
      "id": "pr-005",
      "name": "LessonPlan Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        900
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $json || {};\nlet msg = 'lessonplan-generate: AI generation failed';\nif (data.error) { if (typeof data.error === 'string') msg = data.error; else if (data.error.message) msg = data.error.message; else msg = JSON.stringify(data.error).slice(0, 300); } else if (data.message) msg = data.message;\nreturn [{ json: { error: msg } }];"
      },
      "id": "be-005",
      "name": "LessonPlan Build Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1020
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error ? 502 : 200 }}"
        }
      },
      "id": "rs-005",
      "name": "LessonPlan Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        900
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "presentation-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-006",
      "name": "Presentation Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        1120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// ─── Presentation Build Prompt (v2 — Templated) ──────────────────\n// Emits TemplatedPresentation JSON matching src/lib/template-types.ts.\n// The frontend renders via /templates/presentation-classic.html or\n// /templates/presentation-academic.html — your job is only the content.\n\nconst p = ($json && $json.body) || $json || {};\nconst grade = Number(p.grade); const safeGrade = Number.isFinite(grade) && grade > 0 ? grade : 5;\nconst duration = Number(p.duration); const safeDuration = Number.isFinite(duration) && duration > 0 ? duration : 60;\nconst topic = String(p.topic || '').trim();\nconst subtopic = String(p.subtopic || '').trim();\nconst subjectInput = String(p.subject || 'Maths').trim();\nconst difficulty = String(p.difficulty || 'Medium').trim();\nconst studentId = String(p.student_id || p.studentId || '').trim();\n\n// ─── Selection engine (server-side, deterministic) ───────────────\n// Hash function so the same student+topic combo is stable but\n// different combos cycle through themes — no always-garden bias.\nfunction hash32(str) {\n  let h = 2166136261;\n  for (let i = 0; i < str.length; i++) { h ^= str.charCodeAt(i); h = (h * 16777619) >>> 0; }\n  return h >>> 0;\n}\n\n// Template by grade (mandatory split — 1-6 playful, 7-12 academic)\nconst template = safeGrade <= 6 ? 'presentation-classic' : 'presentation-academic';\n\n// Subject motif from text\nfunction guessSubject(text) {\n  const t = text.toLowerCase();\n  if (/math|algebra|geometry|fraction|equation|number|arithmet/.test(t)) return 'math';\n  if (/scien|biolog|chem|physic|atom|cell|ecosystem|acid|base|reaction|force|energy|gravit|electric|photosynt|respira|plant|animal|organism|microb/.test(t)) return 'science';\n  if (/english|grammar|literature|poem|poetry|essay|writing|read|simile|metaphor|noun|verb|adject|punctuat|spell|comprehens/.test(t)) return 'english';\n  if (/french|spanish|hindi|german|mandarin|language|vocabular|conjugat/.test(t)) return 'language';\n  if (/histor|civil|empire|war|revolution|ancient|medieval|king|queen/.test(t)) return 'history';\n  if (/geograph|continent|country|map|river|mountain|climate|capital/.test(t)) return 'geography';\n  if (/art|paint|draw|color|sculpture|design/.test(t)) return 'art';\n  if (/music|rhythm|melody|piano|guitar|note|song|instrument/.test(t)) return 'music';\n  return 'general';\n}\nconst subjectId = guessSubject(subjectInput + ' ' + topic + ' ' + subtopic);\n\n// Theme by hash — varied, never stale. Picks from a subject-aware pool.\nconst THEME_POOLS = {\n  math:      ['lab', 'space', 'studio', 'theater'],\n  science:   ['lab', 'space', 'ocean', 'garden'],\n  english:   ['theater', 'studio', 'garden', 'ocean'],\n  language:  ['theater', 'studio', 'garden', 'space'],\n  history:   ['theater', 'studio', 'lab', 'ocean'],\n  geography: ['ocean', 'garden', 'space', 'studio'],\n  art:       ['studio', 'theater', 'garden', 'ocean'],\n  music:     ['theater', 'studio', 'space', 'garden'],\n  general:   ['garden', 'space', 'theater', 'ocean', 'lab', 'studio'],\n};\nconst pool = THEME_POOLS[subjectId] || THEME_POOLS.general;\nconst themeKey = topic + '|' + subtopic + '|' + subjectInput + '|' + studentId + '|' + safeGrade;\nconst themeId = pool[hash32(themeKey) % pool.length];\n\n// ─── Slide count budget by duration ──────────────────────────────\n// 60 min → 40-50 slides, 45 min → 30-38, 30 min → 20-26, 15 min → 12-16\nlet slideTarget;\nif (safeDuration >= 55)      slideTarget = '40-50';\nelse if (safeDuration >= 40) slideTarget = '30-38';\nelse if (safeDuration >= 25) slideTarget = '20-26';\nelse                         slideTarget = '12-16';\n\n// ─── System prompt — template-aware, JSON-only ───────────────────\nconst isClassic = template === 'presentation-classic';\nconst styleNote = isClassic\n  ? 'Audience: GRADES 1-6. Tone: warm, playful, encouraging. Mascots speak to the student. Short, vivid language. Real-world hooks (food, pets, family, play).'\n  : 'Audience: GRADES 7-12. Tone: precise, intellectually serious, but never dry. NO mascot speech bubbles. Use crisp definitions, real examples, and HOTS prompts. Examples should connect to teen life and real-world systems.';\n\nconst systemBase = [\n  'ROLE: You are a premium K-12 presentation content designer for 1-on-1 online tutoring sessions.',\n  'OUTPUT: ONLY a single JSON object. NO markdown fences. NO prose. NO HTML. NO CSS. NO // comments. NO trailing commas.',\n  'Start your reply with { and end with }.',\n  '',\n  styleNote,\n  '',\n  '═══════════════════════════════════════════',\n  'MANDATORY 10-SECTION FLOW — IN THIS EXACT ORDER',\n  '═══════════════════════════════════════════',\n  'Total slide budget for this session: ' + slideTarget + ' slides. Distribute roughly:',\n  '  1. Title + Icebreaker / Rapport          (2 slides)   types: title, body',\n  '  2. Warm-up — activate prior knowledge    (2-3 slides) types: body, fact, fill-blank',\n  '  3. Learning Objective                     (1 slide)    type:  objectives',\n  '  4. Definition — core concept             (2-3 slides) types: section, definition, body',\n  '  5. Explanation + Examples                 (6-10 slides) types: definition, examples, compare, fact, mnemonic',\n  '  6. Activity (I Do / We Do / You Do)       (3 slides)   types: i-do, body, fill-blank',\n  '  7. Skill Task — new context              (2-3 slides) types: story, drag-sort, body',\n  '  8. Quick Assessment                       (5 slides)   type:  quiz (exactly 5 MCQs)',\n  '  9. Key Takeaways                          (1-2 slides) type:  takeaway',\n  ' 10. Closure with HOTS                      (1-2 slides) types: hots, closure',\n  '',\n  'Use a \"section\" slide as a divider BEFORE each major block (sections 4, 5, 6, 7, 8, 9, 10).',\n  'The \"section\" field on every slide MUST be one of: \"Icebreaker\", \"Warm-up\", \"Learning Objective\", \"Definition\", \"Explanation\", \"Activity\", \"Skill Task\", \"Quick Assessment\", \"Key Takeaways\", \"Closure\". This drives the colored chip + gradient backdrop in the renderer.',\n  '',\n  '═══════════════════════════════════════════',\n  'CONTENT QUALITY RULES',\n  '═══════════════════════════════════════════',\n  '- One purpose per slide — never cram.',\n  '- Max ~30 words of body text per slide. Examples can have up to 4-6 short items.',\n  '- Positive, growth-mindset language.',\n  '- Real student experiences (school, family, food, pets, hobbies, sports).',\n  '- Age-appropriate vocabulary for Grade ' + safeGrade + '.',\n  '- EVERY SLIDE must include a \"notes\" field: a 2-4 sentence teacher script (what to say, what to ask, when to pause). This is shown in the Teacher Notes drawer (N key) and embedded in the PPTX export.',\n  '- Sprinkle 2-3 \"fact\" slides across the deck (a striking real-world fact or quote).',\n  '- Quiz section MUST have exactly 5 questions, each with 4 options, correctIndex (0-3), and a 1-sentence explanation.',\n  '',\n  '═══════════════════════════════════════════',\n  'SLIDE TYPES — use these and ONLY these',\n  '═══════════════════════════════════════════',\n  'title         { type, section:\"Icebreaker\", title, subtitle?, mascot1Says?, mascot2Says?, notes }',\n  'section       { type, section:\"<section>\", title, body?, notes }',\n  'body          { type, section:\"<section>\", title?, body, icon?, mascotSays?, notes }',\n  'objectives    { type, section:\"Learning Objective\", title?, subtitle?, items:[{icon?, text}], notes }',\n  'definition    { type, section:\"Definition\"|\"Explanation\", title?, term, formula?, meaning, example?, notes }',\n  'compare       { type, section:\"Explanation\", title?, left:{title, formula?, example?, points?[]}, right:{title, formula?, example?, points?[]}, notes }',\n  'examples      { type, section:\"Explanation\", title?, body?, items:[{icon?, text}], notes }   // 4-6 items',\n  'fact          { type, section:\"Warm-up\"|\"Explanation\", body, quote?, source?, notes }',\n  'mnemonic      { type, section:\"Explanation\", title?, body, notes }',\n  'i-do          { type, section:\"Activity\", title?, sentence, thinking:[3 steps], conclusion, notes }',\n  'quiz          { type, section:\"Quick Assessment\", title?, label?, question, options:[4], correctIndex, explanation, notes }',\n  'fill-blank    { type, section:\"Warm-up\"|\"Activity\", title?, before, after, options:[2-4], correctIndex, explanation?, notes }',\n  'drag-sort     { type, section:\"Skill Task\", title?, body?, items:[{type:\"a\"|\"b\", text}], zones:[{label, accept:\"a\"},{label, accept:\"b\"}], notes }   // 4-6 items',\n  'story         { type, section:\"Skill Task\", title?, parts:[{text, tag?:\"a\"|\"b\"}], legend?, notes }',\n  'takeaway      { type, section:\"Key Takeaways\", title?, points:[{icon?, text}], notes }',\n  'hots          { type, section:\"Closure\", title?, question, icon?, mascotSays?, notes }',\n  'closure       { type, section:\"Closure\", title?, body?, stars?:1-5, mascot1Says?, mascot2Says?, notes }',\n  '',\n  '═══════════════════════════════════════════',\n  'OUTPUT FORMAT — STRICT JSON ONLY',\n  '═══════════════════════════════════════════',\n  'Emit EXACTLY this shape (the wrapper fields title and slides only — template/themeId/subjectId are added by the server):',\n  '{',\n  '  \"title\": \"<short, vivid presentation title>\",',\n  '  \"slides\": [ ... ' + slideTarget + ' slides in the order above ... ]',\n  '}',\n  '',\n  'Do not include \"format\", \"template\", \"themeId\", or \"subjectId\" — the server injects those. Output only \"title\" and \"slides\".'\n];\nconst system = systemBase.join('\\n');\n\nconst userMsg = [\n  'Topic: ' + topic + (subtopic ? ' (' + subtopic + ')' : ''),\n  'Grade: ' + safeGrade + ', Subject: ' + subjectInput + ', Difficulty: ' + difficulty,\n  'Class duration: ' + safeDuration + ' minutes — target ' + slideTarget + ' slides.',\n  '',\n  'Build the presentation following the 10-section flow exactly. Every slide must have a teacher \"notes\" field.'\n].join('\\n');\n\nreturn [{ json: {\n  system: system,\n  user: userMsg,\n  _payload: p,\n  _kind: 'presentation-generate',\n  _template: template,\n  _themeId: themeId,\n  _subjectId: subjectId,\n} }];\n"
      },
      "id": "bp-006",
      "name": "Presentation Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1120
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($json._payload && $json._payload.model) || 'claude-sonnet-4-5', max_tokens: 16000, system: $json.system, messages: [{ role: 'user', content: $json.user }] }) }}",
        "options": {
          "timeout": 240000
        }
      },
      "id": "cl-006",
      "name": "Presentation Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        1080
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($('Presentation Build Prompt').first().json._payload && $('Presentation Build Prompt').first().json._payload.hfModel) || 'meta-llama/Llama-3.3-70B-Instruct', messages: [{ role: 'system', content: $('Presentation Build Prompt').first().json.system }, { role: 'user', content: $('Presentation Build Prompt').first().json.user }], max_tokens: 8000, temperature: 0.3 }) }}",
        "options": {
          "timeout": 240000
        }
      },
      "id": "hf-006",
      "name": "Presentation HF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        1180
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// ─── Presentation Parse (v2 — Templated) ─────────────────────────\n// Accepts AI response with { title, slides[] }, wraps it into a\n// TemplatedPresentation by injecting template/themeId/subjectId\n// computed server-side in the Build Prompt node.\n\nlet out = null;\nlet errMsg = null;\ntry {\n  const data = $json || {};\n  let text = '';\n  let provider = 'unknown';\n  let model = '';\n  if (data.content && Array.isArray(data.content) && data.content[0] && data.content[0].text) {\n    text = data.content[0].text; provider = 'claude'; model = data.model || '';\n  } else if (data.choices && Array.isArray(data.choices) && data.choices[0] && data.choices[0].message && data.choices[0].message.content) {\n    text = data.choices[0].message.content; provider = 'hf'; model = data.model || '';\n  } else if (data.error) {\n    const em = typeof data.error === 'string' ? data.error : (data.error.message || JSON.stringify(data.error));\n    throw new Error('Provider error: ' + String(em).slice(0, 300));\n  } else {\n    throw new Error('Unrecognized LLM response: ' + JSON.stringify(data).slice(0, 200));\n  }\n\n  // Pull selection-engine metadata from upstream node if present\n  let template = 'presentation-classic';\n  let themeId = 'garden';\n  let subjectId = 'general';\n  try {\n    const upstream = $('Presentation Build Prompt').first().json;\n    if (upstream && upstream._template) template = String(upstream._template);\n    if (upstream && upstream._themeId)  themeId  = String(upstream._themeId);\n    if (upstream && upstream._subjectId) subjectId = String(upstream._subjectId);\n  } catch (_) {}\n\n  let s = String(text || '').trim();\n  s = s.replace(/^```(?:json)?\\s*\\n?/i, '').replace(/\\n?```\\s*$/g, '').trim();\n  const startObj = s.indexOf('{'); const startArr = s.indexOf('[');\n  let start; if (startObj === -1) start = startArr; else if (startArr === -1) start = startObj; else start = Math.min(startObj, startArr);\n  if (start === -1) throw new Error('No JSON: ' + s.slice(0, 200));\n  const end = Math.max(s.lastIndexOf('}'), s.lastIndexOf(']'));\n  if (end <= start) throw new Error('Unbalanced JSON: ' + s.slice(0, 200));\n  let raw = s.slice(start, end + 1);\n  raw = raw.replace(/^(\\s*)\\/\\/[^\\n]*$/gm, '$1');\n  raw = raw.replace(/\\/\\*[\\s\\S]*?\\*\\//g, '');\n  raw = raw.replace(/,(\\s*[\\]\\}])/g, '$1');\n\n  let parsed;\n  try { parsed = JSON.parse(raw); }\n  catch (e) {\n    const m = /position\\s+(\\d+)/i.exec(e.message);\n    let snippet = '';\n    if (m) {\n      const pos = parseInt(m[1]);\n      const from = Math.max(0, pos - 60); const to = Math.min(raw.length, pos + 60);\n      snippet = ' near: ...' + raw.slice(from, to).replace(/\\n/g, '\\\\n') + '...';\n    }\n    throw new Error('JSON parse failed: ' + e.message + snippet);\n  }\n\n  if (!parsed || typeof parsed !== 'object') throw new Error('Parsed not object');\n\n// ─── Auto-repair + content validators ────────────────────────────\nfunction sanitizeStr(s) { return typeof s === 'string' ? s.trim() : ''; }\nfunction uniqueOptions(opts) {\n  if (!Array.isArray(opts)) return [];\n  const seen = new Set(); const out = [];\n  for (const o of opts) {\n    const v = sanitizeStr(typeof o === 'string' ? o : String(o));\n    if (v && !seen.has(v.toLowerCase())) { seen.add(v.toLowerCase()); out.push(v); }\n  }\n  return out;\n}\nfunction repairMCQ(q) {\n  if (!q || typeof q !== 'object') return null;\n  q.text = sanitizeStr(q.text || q.question || '');\n  if (!q.text) return null;\n  q.options = uniqueOptions(q.options);\n  if (q.options.length < 2) return null;\n  let ci = Number(q.correctIndex);\n  if (!Number.isFinite(ci) || ci < 0 || ci >= q.options.length) ci = 0;\n  q.correctIndex = ci;\n  if (q.explanation) q.explanation = sanitizeStr(q.explanation);\n  return q;\n}\nfunction repairSlide(s) {\n  if (!s || typeof s !== 'object' || !s.type) return null;\n  // Ensure notes — fall back to a short default rather than dropping the slide\n  if (!sanitizeStr(s.notes)) s.notes = 'Walk the student through this slide. Ask one question to check understanding.';\n  return s;\n}\n\n  if (!Array.isArray(parsed.slides)) throw new Error('Missing slides array');\n  const cleanSlides = [];\n  for (const sl of parsed.slides) {\n    const r = repairSlide(sl);\n    if (!r) continue;\n    // Repair embedded quiz inside slides\n    if (r.type === 'quiz' && r.question) {\n      const qr = repairMCQ({ text: r.question, options: r.options, correctIndex: r.correctIndex, explanation: r.explanation });\n      if (qr) { r.options = qr.options; r.correctIndex = qr.correctIndex; }\n      else continue;\n    }\n    if (r.type === 'fill-blank' && Array.isArray(r.options)) {\n      r.options = uniqueOptions(r.options);\n      if (typeof r.correctIndex !== 'number' || r.correctIndex < 0 || r.correctIndex >= r.options.length) r.correctIndex = 0;\n    }\n    cleanSlides.push(r);\n  }\n  if (cleanSlides.length < 8) throw new Error('Too few valid slides after repair (got ' + cleanSlides.length + ')');\n  out = {\n    format: 'template-v1',\n    template: template,\n    themeId: themeId,\n    subjectId: subjectId,\n    title: parsed.title || 'Untitled Lesson',\n    slides: cleanSlides,\n    _provider: provider,\n    _model: model,\n  };\n} catch (e) {\n  errMsg = (e && e.message) ? e.message : String(e);\n}\nif (errMsg) return [{ json: { error: errMsg } }];\nreturn [{ json: out }];\n"
      },
      "id": "pr-006",
      "name": "Presentation Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $json || {};\nlet msg = 'presentation-generate: AI generation failed';\nif (data.error) { if (typeof data.error === 'string') msg = data.error; else if (data.error.message) msg = data.error.message; else msg = JSON.stringify(data.error).slice(0, 300); } else if (data.message) msg = data.message;\nreturn [{ json: { error: msg } }];"
      },
      "id": "be-006",
      "name": "Presentation Build Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error ? 502 : 200 }}"
        }
      },
      "id": "rs-006",
      "name": "Presentation Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        1120
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "game-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-007",
      "name": "Game Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        1340
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// ─── Game Build Prompt (v2 — Templated) ───────────────────────────\n// Emits TemplatedGame JSON matching src/lib/template-types.ts.\nconst p = ($json && $json.body) || $json || {};\nconst grade = Number(p.grade); const safeGrade = Number.isFinite(grade) && grade > 0 ? grade : 5;\nconst topic = String(p.topic || '').trim();\nconst subtopic = String(p.subtopic || '').trim();\nconst subjectInput = String(p.subject || 'Maths').trim();\nconst studentId = String(p.student_id || p.studentId || '').trim();\nconst requestedStyle = String(p.gameStyle || 'sort').trim();\n\nfunction hash32(str) {\n  let h = 2166136261;\n  for (let i = 0; i < str.length; i++) { h ^= str.charCodeAt(i); h = (h * 16777619) >>> 0; }\n  return h >>> 0;\n}\nfunction guessSubject(text) {\n  const t = String(text || '').toLowerCase();\n  if (/math|algebra|geometry|fraction|equation|number|arithmet/.test(t)) return 'math';\n  if (/scien|biolog|chem|physic|atom|cell|ecosystem|acid|base|reaction|force|energy|gravit|electric|photosynt|respira|plant|animal|organism|microb/.test(t)) return 'science';\n  if (/english|grammar|literature|poem|poetry|essay|writing|read|simile|metaphor|noun|verb|adject|punctuat|spell|comprehens/.test(t)) return 'english';\n  if (/french|spanish|hindi|german|mandarin|language|vocabular|conjugat/.test(t)) return 'language';\n  if (/histor|civil|empire|war|revolution|ancient|medieval|king|queen/.test(t)) return 'history';\n  if (/geograph|continent|country|map|river|mountain|climate|capital/.test(t)) return 'geography';\n  if (/art|paint|draw|color|sculpture|design/.test(t)) return 'art';\n  if (/music|rhythm|melody|piano|guitar|note|song|instrument/.test(t)) return 'music';\n  return 'general';\n}\nconst THEME_POOLS = {\n  math:      ['lab', 'space', 'studio', 'theater'],\n  science:   ['lab', 'space', 'ocean', 'garden'],\n  english:   ['theater', 'studio', 'garden', 'ocean'],\n  language:  ['theater', 'studio', 'garden', 'space'],\n  history:   ['theater', 'studio', 'lab', 'ocean'],\n  geography: ['ocean', 'garden', 'space', 'studio'],\n  art:       ['studio', 'theater', 'garden', 'ocean'],\n  music:     ['theater', 'studio', 'space', 'garden'],\n  general:   ['garden', 'space', 'theater', 'ocean', 'lab', 'studio'],\n};\nfunction pickTheme(subjectId, key) {\n  const pool = THEME_POOLS[subjectId] || THEME_POOLS.general;\n  return pool[hash32(key) % pool.length];\n}\n\nconst template = 'game-arcade';\nconst subjectId = guessSubject(subjectInput + ' ' + topic + ' ' + subtopic);\nconst themeId = pickTheme(subjectId, topic + '|' + subtopic + '|' + subjectInput + '|' + studentId + '|' + safeGrade + '|game');\n\nconst styleNote =\n  requestedStyle === 'match' ? 'Build a MATCH game: 6-10 left/right pairs students drag together.' :\n  requestedStyle === 'sequence' ? 'Build a SEQUENCE game: 4-6 items the student orders correctly.' :\n  requestedStyle === 'fill-blank' ? 'Build a FILL-BLANK game: 5-8 sentences each with ___ and 3-4 options.' :\n  requestedStyle === 'quiz' ? 'Build a QUIZ game: 8-12 MCQs, 4 options each, with 1-sentence explanations.' :\n  'Build a SORT game: 6-12 items, 2-3 buckets with clear category names.';\n\nconst systemBase = [\n  'ROLE: You are a premium K-12 educational game designer.',\n  'OUTPUT: ONLY a single JSON object. No markdown fences. No prose. No comments. No trailing commas.',\n  'Start your reply with { and end with }.',\n  '',\n  styleNote,\n  'Age-appropriate for Grade ' + safeGrade + '. Real-world examples. Positive tone.',\n  '',\n  '═══════════════════════════════════════════',\n  'OUTPUT SHAPE — emit ONLY these fields (template/themeId/subjectId injected server-side):',\n  '═══════════════════════════════════════════',\n  '{',\n  '  \"title\": \"<short game title>\",',\n  '  \"intro\": \"<1-2 sentence welcome to the player>\",',\n  '  \"achievement\": { \"title\": \"<badge name>\", \"message\": \"<1 sentence congrats>\" },',\n  '  \"data\": { \"gameType\": \"' + requestedStyle + '\", \"payload\": { ... } }',\n  '}',\n  '',\n  '═══════════════════════════════════════════',\n  'PAYLOAD SHAPES BY gameType',\n  '═══════════════════════════════════════════',\n  'sort:       { items: string[], buckets: [{ name, correctItems: string[] }] }   // 2-3 buckets, items belong to ONE bucket each',\n  'match:      { pairs: [{ left, right }] }                                       // 6-10 pairs',\n  'sequence:   { items: string[], correctOrder: number[] }                        // correctOrder is the index order, e.g. [2,0,3,1]',\n  'fill-blank: { questions: [{ sentence: \"... ___ ...\", options: [3-4], correctIndex, explanation? }] }   // 5-8 questions',\n  'quiz:       { questions: [{ text, options: [4], correctIndex, explanation?, difficulty?: \"easy\"|\"medium\"|\"hard\" }] }   // 8-12 questions'\n];\nconst system = systemBase.join('\\n');\n\nconst userMsg = [\n  'Topic: ' + topic + (subtopic ? ' (' + subtopic + ')' : ''),\n  'Grade: ' + safeGrade + ', Subject: ' + subjectInput,\n  'Game style: ' + requestedStyle\n].join('\\n');\n\nreturn [{ json: { system: system, user: userMsg, _payload: p, _kind: 'game-generate', _template: template, _themeId: themeId, _subjectId: subjectId } }];\n"
      },
      "id": "bp-007",
      "name": "Game Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1340
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($json._payload && $json._payload.model) || 'claude-sonnet-4-5', max_tokens: 4000, system: $json.system, messages: [{ role: 'user', content: $json.user }] }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "cl-007",
      "name": "Game Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        1300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($('Game Build Prompt').first().json._payload && $('Game Build Prompt').first().json._payload.hfModel) || 'meta-llama/Llama-3.3-70B-Instruct', messages: [{ role: 'system', content: $('Game Build Prompt').first().json.system }, { role: 'user', content: $('Game Build Prompt').first().json.user }], max_tokens: 2000, temperature: 0.3 }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "hf-007",
      "name": "Game HF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        1400
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nlet out = null;\nlet errMsg = null;\ntry {\n  const data = $json || {};\n  let text = '';\n  let provider = 'unknown';\n  let model = '';\n  if (data.content && Array.isArray(data.content) && data.content[0] && data.content[0].text) {\n    text = data.content[0].text; provider = 'claude'; model = data.model || '';\n  } else if (data.choices && Array.isArray(data.choices) && data.choices[0] && data.choices[0].message && data.choices[0].message.content) {\n    text = data.choices[0].message.content; provider = 'hf'; model = data.model || '';\n  } else if (data.error) {\n    const em = typeof data.error === 'string' ? data.error : (data.error.message || JSON.stringify(data.error));\n    throw new Error('Provider error: ' + String(em).slice(0, 300));\n  } else {\n    throw new Error('Unrecognized LLM response: ' + JSON.stringify(data).slice(0, 200));\n  }\n  let s = String(text || '').trim();\n  s = s.replace(/^```(?:json)?\\s*\\n?/i, '').replace(/\\n?```\\s*$/g, '').trim();\n  const startObj = s.indexOf('{'); const startArr = s.indexOf('[');\n  let start; if (startObj === -1) start = startArr; else if (startArr === -1) start = startObj; else start = Math.min(startObj, startArr);\n  if (start === -1) throw new Error('No JSON: ' + s.slice(0, 200));\n  const end = Math.max(s.lastIndexOf('}'), s.lastIndexOf(']'));\n  if (end <= start) throw new Error('Unbalanced JSON: ' + s.slice(0, 200));\n  let raw = s.slice(start, end + 1);\n  raw = raw.replace(/^(\\s*)\\/\\/[^\\n]*$/gm, '$1');\n  raw = raw.replace(/\\/\\*[\\s\\S]*?\\*\\//g, '');\n  raw = raw.replace(/,(\\s*[\\]\\}])/g, '$1');\n  let parsed;\n  try { parsed = JSON.parse(raw); }\n  catch (e) {\n    const m = /position\\s+(\\d+)/i.exec(e.message);\n    let snippet = '';\n    if (m) {\n      const pos = parseInt(m[1]);\n      const from = Math.max(0, pos - 60); const to = Math.min(raw.length, pos + 60);\n      snippet = ' near: ...' + raw.slice(from, to).replace(/\\n/g, '\\\\n') + '...';\n    }\n    throw new Error('JSON parse failed: ' + e.message + snippet);\n  }\n  if (!parsed || typeof parsed !== 'object') throw new Error('Parsed not object');\n\n// ─── Auto-repair + content validators ────────────────────────────\nfunction sanitizeStr(s) { return typeof s === 'string' ? s.trim() : ''; }\nfunction uniqueOptions(opts) {\n  if (!Array.isArray(opts)) return [];\n  const seen = new Set(); const out = [];\n  for (const o of opts) {\n    const v = sanitizeStr(typeof o === 'string' ? o : String(o));\n    if (v && !seen.has(v.toLowerCase())) { seen.add(v.toLowerCase()); out.push(v); }\n  }\n  return out;\n}\nfunction repairMCQ(q) {\n  if (!q || typeof q !== 'object') return null;\n  q.text = sanitizeStr(q.text || q.question || '');\n  if (!q.text) return null;\n  q.options = uniqueOptions(q.options);\n  if (q.options.length < 2) return null;\n  let ci = Number(q.correctIndex);\n  if (!Number.isFinite(ci) || ci < 0 || ci >= q.options.length) ci = 0;\n  q.correctIndex = ci;\n  if (q.explanation) q.explanation = sanitizeStr(q.explanation);\n  return q;\n}\nfunction repairSlide(s) {\n  if (!s || typeof s !== 'object' || !s.type) return null;\n  // Ensure notes — fall back to a short default rather than dropping the slide\n  if (!sanitizeStr(s.notes)) s.notes = 'Walk the student through this slide. Ask one question to check understanding.';\n  return s;\n}\n\nlet template = '';\nlet themeId = 'garden';\nlet subjectId = 'general';\ntry {\n  const u = $('Game Build Prompt').first().json;\n  if (u && u._template) template = String(u._template);\n  if (u && u._themeId) themeId = String(u._themeId);\n  if (u && u._subjectId) subjectId = String(u._subjectId);\n} catch (_) {}\n\n  if (!parsed.data || typeof parsed.data !== 'object' || !parsed.data.gameType) throw new Error('Missing data.gameType');\n  if (!parsed.data.payload || typeof parsed.data.payload !== 'object') throw new Error('Missing data.payload');\n  // Repair payloads per gameType\n  const gt = parsed.data.gameType;\n  const pl = parsed.data.payload;\n  if (gt === 'quiz' && Array.isArray(pl.questions)) {\n    pl.questions = pl.questions.map(repairMCQ).filter(Boolean);\n    if (pl.questions.length < 3) throw new Error('Quiz needs >= 3 valid questions');\n  } else if (gt === 'fill-blank' && Array.isArray(pl.questions)) {\n    pl.questions = pl.questions.filter(q => q && q.sentence && Array.isArray(q.options) && q.options.length >= 2).map(q => ({\n      ...q,\n      options: uniqueOptions(q.options),\n      correctIndex: (typeof q.correctIndex === 'number' && q.correctIndex >= 0 && q.correctIndex < (q.options || []).length) ? q.correctIndex : 0\n    }));\n    if (pl.questions.length < 3) throw new Error('Fill-blank needs >= 3 valid questions');\n  } else if (gt === 'sort') {\n    if (!Array.isArray(pl.items) || !Array.isArray(pl.buckets) || pl.buckets.length < 2) throw new Error('Sort needs items + 2+ buckets');\n  } else if (gt === 'match') {\n    if (!Array.isArray(pl.pairs) || pl.pairs.length < 3) throw new Error('Match needs >= 3 pairs');\n  } else if (gt === 'sequence') {\n    if (!Array.isArray(pl.items) || !Array.isArray(pl.correctOrder) || pl.items.length !== pl.correctOrder.length) throw new Error('Sequence items/order mismatch');\n  }\n  out = {\n    format: 'template-v1',\n    template: template || 'game-arcade',\n    themeId: themeId,\n    subjectId: subjectId,\n    title: parsed.title || 'Game',\n    intro: parsed.intro || \"Let's play!\",\n    achievement: parsed.achievement || { title: 'Champion', message: 'Great work!' },\n    data: parsed.data,\n    _provider: provider,\n    _model: model,\n  };\n\n} catch (e) {\n  errMsg = (e && e.message) ? e.message : String(e);\n}\nif (errMsg) return [{ json: { error: errMsg } }];\nreturn [{ json: out }];\n"
      },
      "id": "pr-007",
      "name": "Game Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1340
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $json || {};\nlet msg = 'game-generate: AI generation failed';\nif (data.error) { if (typeof data.error === 'string') msg = data.error; else if (data.error.message) msg = data.error.message; else msg = JSON.stringify(data.error).slice(0, 300); } else if (data.message) msg = data.message;\nreturn [{ json: { error: msg } }];"
      },
      "id": "be-007",
      "name": "Game Build Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1460
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error ? 502 : 200 }}"
        }
      },
      "id": "rs-007",
      "name": "Game Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        1340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify((() => { const u = $('Diagnostic Build Prompt').first().json; const hf = (u._payload && u._payload.hfModel) || ''; const MAP = { 'meta-llama/Llama-3.3-70B-Instruct': 'llama-3.3-70b-versatile', 'meta-llama/Meta-Llama-3.1-70B-Instruct': 'llama-3.3-70b-versatile', 'meta-llama/Llama-3.1-8B-Instruct': 'llama-3.1-8b-instant', 'Qwen/Qwen2.5-72B-Instruct': 'llama-3.3-70b-versatile', 'mistralai/Mistral-7B-Instruct-v0.3': 'llama-3.1-8b-instant' }; const model = MAP[hf] || 'llama-3.3-70b-versatile'; return { model, messages: [{ role: 'system', content: u.system }, { role: 'user', content: u.user }], max_tokens: 4000, temperature: 0.3 }; })()) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "groq-001",
      "name": "Diagnostic Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        240
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify((() => { const u = $('Analyze Build Prompt').first().json; const hf = (u._payload && u._payload.hfModel) || ''; const MAP = { 'meta-llama/Llama-3.3-70B-Instruct': 'llama-3.3-70b-versatile', 'meta-llama/Meta-Llama-3.1-70B-Instruct': 'llama-3.3-70b-versatile', 'meta-llama/Llama-3.1-8B-Instruct': 'llama-3.1-8b-instant', 'Qwen/Qwen2.5-72B-Instruct': 'llama-3.3-70b-versatile', 'mistralai/Mistral-7B-Instruct-v0.3': 'llama-3.1-8b-instant' }; const model = MAP[hf] || 'llama-3.3-70b-versatile'; return { model, messages: [{ role: 'system', content: u.system }, { role: 'user', content: u.user }], max_tokens: 4000, temperature: 0.3 }; })()) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "groq-002",
      "name": "Analyze Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        440
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify((() => { const u = $('Assessment Build Prompt').first().json; const hf = (u._payload && u._payload.hfModel) || ''; const MAP = { 'meta-llama/Llama-3.3-70B-Instruct': 'llama-3.3-70b-versatile', 'meta-llama/Meta-Llama-3.1-70B-Instruct': 'llama-3.3-70b-versatile', 'meta-llama/Llama-3.1-8B-Instruct': 'llama-3.1-8b-instant', 'Qwen/Qwen2.5-72B-Instruct': 'llama-3.3-70b-versatile', 'mistralai/Mistral-7B-Instruct-v0.3': 'llama-3.1-8b-instant' }; const model = MAP[hf] || 'llama-3.3-70b-versatile'; return { model, messages: [{ role: 'system', content: u.system }, { role: 'user', content: u.user }], max_tokens: 4000, temperature: 0.3 }; })()) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "groq-003",
      "name": "Assessment Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        640
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify((() => { const u = $('Worksheet Build Prompt').first().json; const hf = (u._payload && u._payload.hfModel) || ''; const MAP = { 'meta-llama/Llama-3.3-70B-Instruct': 'llama-3.3-70b-versatile', 'meta-llama/Meta-Llama-3.1-70B-Instruct': 'llama-3.3-70b-versatile', 'meta-llama/Llama-3.1-8B-Instruct': 'llama-3.1-8b-instant', 'Qwen/Qwen2.5-72B-Instruct': 'llama-3.3-70b-versatile', 'mistralai/Mistral-7B-Instruct-v0.3': 'llama-3.1-8b-instant' }; const model = MAP[hf] || 'llama-3.3-70b-versatile'; return { model, messages: [{ role: 'system', content: u.system }, { role: 'user', content: u.user }], max_tokens: 4000, temperature: 0.3 }; })()) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "groq-004",
      "name": "Worksheet Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        840
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify((() => { const u = $('LessonPlan Build Prompt').first().json; const hf = (u._payload && u._payload.hfModel) || ''; const MAP = { 'meta-llama/Llama-3.3-70B-Instruct': 'llama-3.3-70b-versatile', 'meta-llama/Meta-Llama-3.1-70B-Instruct': 'llama-3.3-70b-versatile', 'meta-llama/Llama-3.1-8B-Instruct': 'llama-3.1-8b-instant', 'Qwen/Qwen2.5-72B-Instruct': 'llama-3.3-70b-versatile', 'mistralai/Mistral-7B-Instruct-v0.3': 'llama-3.1-8b-instant' }; const model = MAP[hf] || 'llama-3.3-70b-versatile'; return { model, messages: [{ role: 'system', content: u.system }, { role: 'user', content: u.user }], max_tokens: 4000, temperature: 0.3 }; })()) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "groq-005",
      "name": "LessonPlan Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        1040
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify((() => { const u = $('Presentation Build Prompt').first().json; const hf = (u._payload && u._payload.hfModel) || ''; const MAP = { 'meta-llama/Llama-3.3-70B-Instruct': 'llama-3.3-70b-versatile', 'meta-llama/Meta-Llama-3.1-70B-Instruct': 'llama-3.3-70b-versatile', 'meta-llama/Llama-3.1-8B-Instruct': 'llama-3.1-8b-instant', 'Qwen/Qwen2.5-72B-Instruct': 'llama-3.3-70b-versatile', 'mistralai/Mistral-7B-Instruct-v0.3': 'llama-3.1-8b-instant' }; const model = MAP[hf] || 'llama-3.3-70b-versatile'; return { model, messages: [{ role: 'system', content: u.system }, { role: 'user', content: u.user }], max_tokens: 4000, temperature: 0.3 }; })()) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "groq-006",
      "name": "Presentation Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        1260
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify((() => { const u = $('Game Build Prompt').first().json; const hf = (u._payload && u._payload.hfModel) || ''; const MAP = { 'meta-llama/Llama-3.3-70B-Instruct': 'llama-3.3-70b-versatile', 'meta-llama/Meta-Llama-3.1-70B-Instruct': 'llama-3.3-70b-versatile', 'meta-llama/Llama-3.1-8B-Instruct': 'llama-3.1-8b-instant', 'Qwen/Qwen2.5-72B-Instruct': 'llama-3.3-70b-versatile', 'mistralai/Mistral-7B-Instruct-v0.3': 'llama-3.1-8b-instant' }; const model = MAP[hf] || 'llama-3.3-70b-versatile'; return { model, messages: [{ role: 'system', content: u.system }, { role: 'user', content: u.user }], max_tokens: 4000, temperature: 0.3 }; })()) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "groq-007",
      "name": "Game Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        1480
      ],
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Diagnostic Webhook": {
      "main": [
        [
          {
            "node": "Diagnostic Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diagnostic Build Prompt": {
      "main": [
        [
          {
            "node": "Diagnostic Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Diagnostic Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diagnostic Claude": {
      "main": [
        [
          {
            "node": "Diagnostic Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Diagnostic HF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diagnostic HF": {
      "main": [
        [
          {
            "node": "Diagnostic Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Diagnostic Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diagnostic Parse": {
      "main": [
        [
          {
            "node": "Diagnostic Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diagnostic Build Error": {
      "main": [
        [
          {
            "node": "Diagnostic Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Webhook": {
      "main": [
        [
          {
            "node": "Analyze Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Build Prompt": {
      "main": [
        [
          {
            "node": "Analyze Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Claude": {
      "main": [
        [
          {
            "node": "Analyze Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze HF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze HF": {
      "main": [
        [
          {
            "node": "Analyze Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Parse": {
      "main": [
        [
          {
            "node": "Analyze Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Build Error": {
      "main": [
        [
          {
            "node": "Analyze Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment Webhook": {
      "main": [
        [
          {
            "node": "Assessment Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment Build Prompt": {
      "main": [
        [
          {
            "node": "Assessment Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assessment Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment Claude": {
      "main": [
        [
          {
            "node": "Assessment Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assessment HF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment HF": {
      "main": [
        [
          {
            "node": "Assessment Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assessment Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment Parse": {
      "main": [
        [
          {
            "node": "Assessment Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment Build Error": {
      "main": [
        [
          {
            "node": "Assessment Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worksheet Webhook": {
      "main": [
        [
          {
            "node": "Worksheet Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worksheet Build Prompt": {
      "main": [
        [
          {
            "node": "Worksheet Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Worksheet Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worksheet Claude": {
      "main": [
        [
          {
            "node": "Worksheet Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Worksheet HF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worksheet HF": {
      "main": [
        [
          {
            "node": "Worksheet Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Worksheet Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worksheet Parse": {
      "main": [
        [
          {
            "node": "Worksheet Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worksheet Build Error": {
      "main": [
        [
          {
            "node": "Worksheet Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LessonPlan Webhook": {
      "main": [
        [
          {
            "node": "LessonPlan Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LessonPlan Build Prompt": {
      "main": [
        [
          {
            "node": "LessonPlan Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LessonPlan Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LessonPlan Claude": {
      "main": [
        [
          {
            "node": "LessonPlan Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LessonPlan HF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LessonPlan HF": {
      "main": [
        [
          {
            "node": "LessonPlan Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LessonPlan Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LessonPlan Parse": {
      "main": [
        [
          {
            "node": "LessonPlan Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LessonPlan Build Error": {
      "main": [
        [
          {
            "node": "LessonPlan Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presentation Webhook": {
      "main": [
        [
          {
            "node": "Presentation Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presentation Build Prompt": {
      "main": [
        [
          {
            "node": "Presentation Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Presentation Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presentation Claude": {
      "main": [
        [
          {
            "node": "Presentation Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Presentation HF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presentation HF": {
      "main": [
        [
          {
            "node": "Presentation Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Presentation Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presentation Parse": {
      "main": [
        [
          {
            "node": "Presentation Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presentation Build Error": {
      "main": [
        [
          {
            "node": "Presentation Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Game Webhook": {
      "main": [
        [
          {
            "node": "Game Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Game Build Prompt": {
      "main": [
        [
          {
            "node": "Game Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Game Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Game Claude": {
      "main": [
        [
          {
            "node": "Game Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Game HF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Game HF": {
      "main": [
        [
          {
            "node": "Game Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Game Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Game Parse": {
      "main": [
        [
          {
            "node": "Game Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Game Build Error": {
      "main": [
        [
          {
            "node": "Game Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diagnostic Groq": {
      "main": [
        [
          {
            "node": "Diagnostic Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Diagnostic Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Groq": {
      "main": [
        [
          {
            "node": "Analyze Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment Groq": {
      "main": [
        [
          {
            "node": "Assessment Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assessment Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worksheet Groq": {
      "main": [
        [
          {
            "node": "Worksheet Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Worksheet Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LessonPlan Groq": {
      "main": [
        [
          {
            "node": "LessonPlan Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LessonPlan Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presentation Groq": {
      "main": [
        [
          {
            "node": "Presentation Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Presentation Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Game Groq": {
      "main": [
        [
          {
            "node": "Game Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Game Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}