n8n/workflows/llm-generators.json
{
  "name": "llm-generators",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "diagnostic-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-001",
      "name": "Diagnostic Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        100
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const systemBase = [\n  'ROLE: You are the Super Sheldon Diagnostic Engine \u2014 a K-12 assessment specialist.',\n  'OUTPUT: ONLY a JSON object matching the schema at the bottom. NEVER HTML, NEVER CSS, NEVER code.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'CORE RULE \u2014 PREVIOUS YEAR ONLY',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'Generate diagnostic questions ONE GRADE BELOW the student\\'s current grade.',\n  'If student is Year/Grade 5, test Year 4 content. If Year 1, test Reception/Kindergarten foundations.',\n  'Goal: surface gaps in the previous year so the teacher can plan remediation.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'CURRICULUM ALIGNMENT',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'Match the region\\'s official curriculum:',\n  '  UK         \u2192 National Curriculum KS1/KS2/KS3/KS4',\n  '  US         \u2192 Common Core State Standards',\n  '  Australia  \u2192 ACARA Australian Curriculum V9',\n  '  India      \u2192 NCERT/CBSE syllabus',\n  '  Singapore  \u2192 MOE Singapore framework',\n  '  IB         \u2192 PYP/MYP/DP scope',\n  'Use vocabulary, examples, and depth appropriate to the previous year\\'s curriculum standards.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'CONTENT QUALITY RULES',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  '- Each question targets exactly ONE skill. Distribute across 4-5 distinct skills.',\n  '- Difficulty mix: 30% easy (recall), 50% medium (application), 20% hard (analysis).',\n  '- Exactly 4 options per MCQ. Exactly ONE correct.',\n  '- Wrong answers (distractors) must reflect common misconceptions kids have at this level.',\n  '- Question text: clear, age-appropriate vocabulary, culturally neutral examples.',\n  '- For primary (ages 4-11): short sentences, concrete examples (food, family, school, pets).',\n  '- For secondary (ages 12-18): proper academic phrasing, progressive complexity.',\n  '- Each question MUST include an explanation field \u2014 1-2 sentences explaining why the correct answer is right and what misconception a typical wrong answer reflects.',\n  '- Skill labels must be specific: \\'Fractions and Decimals\\', \\'Linear Equations\\', \\'Reading Comprehension\\', \\'Subject-Verb Agreement\\', etc. \u2014 NOT just \\'Math\\' or \\'English\\'.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'OUTPUT FORMAT \u2014 STRICT JSON ONLY',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'Start your reply with the opening { character. End with }.',\n  'No markdown fences. No prose. No JS // comments. No /* */ comments. No trailing commas.',\n  '',\n  'Schema:',\n  '{',\n  '  \"questions\": [',\n  '    {',\n  '      \"id\": \"q1\",',\n  '      \"text\": \"Question text here\",',\n  '      \"options\": [\"option A\", \"option B\", \"option C\", \"option D\"],',\n  '      \"correctIndex\": 0,',\n  '      \"skill\": \"Specific skill name\"',\n  '    }',\n  '  ]',\n  '}'\n];\nconst system = systemBase.join('\\n');\nconst p = ($json && $json.body) || $json || {};\nconst grade = Number(p.grade);\nconst safeGrade = Number.isFinite(grade) && grade > 0 ? grade : 6;\nconst prevGrade = Math.max(1, safeGrade - 1);\nconst numQ = Number(p.numQuestions);\nconst safeNumQ = Number.isFinite(numQ) && numQ > 0 ? Math.min(50, numQ) : 10;\nconst userMsg = [\n  'Generate a ' + safeNumQ + '-question diagnostic test for:',\n  'Student: ' + (p.name || 'Student') + ', currently in Grade ' + safeGrade + '.',\n  'Region: ' + (p.region || 'UK') + ' \u2014 align to that curriculum.',\n  'Subject: ' + (p.subject || 'Maths') + '.',\n  'Parent goal: ' + (p.goal || 'Curriculum Alignment') + '.',\n  '',\n  'IMPORTANT: Test the PREVIOUS year content (Grade ' + prevGrade + ').'\n].join('\\n');\nreturn [{ json: { system: system, user: userMsg, _payload: p, _kind: 'diagnostic-generate' } }];"
      },
      "id": "bp-001",
      "name": "Diagnostic Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        100
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($json._payload && $json._payload.model) || 'claude-sonnet-4-5', max_tokens: 8000, system: $json.system, messages: [{ role: 'user', content: $json.user }] }) }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "cl-001",
      "name": "Diagnostic Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        60
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($('Diagnostic Build Prompt').first().json._payload && $('Diagnostic Build Prompt').first().json._payload.hfModel) || 'meta-llama/Llama-3.3-70B-Instruct', messages: [{ role: 'system', content: $('Diagnostic Build Prompt').first().json.system }, { role: 'user', content: $('Diagnostic Build Prompt').first().json.user }], max_tokens: 4000, temperature: 0.3 }) }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "hf-001",
      "name": "Diagnostic HF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        160
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "let out = null;\nlet errMsg = null;\ntry {\n  const data = $json || {};\n  let text = '';\n  let provider = 'unknown';\n  let model = '';\n  if (data.content && Array.isArray(data.content) && data.content[0] && data.content[0].text) { text = data.content[0].text; provider = 'claude'; model = data.model || ''; }\n  else if (data.choices && Array.isArray(data.choices) && data.choices[0] && data.choices[0].message && data.choices[0].message.content) { text = data.choices[0].message.content; provider = 'hf'; model = data.model || ''; }\n  else if (data.error) { const em = typeof data.error === 'string' ? data.error : (data.error.message || JSON.stringify(data.error)); throw new Error('Provider error: ' + String(em).slice(0, 300)); }\n  else throw new Error('Unrecognized LLM response: ' + JSON.stringify(data).slice(0, 200));\n  let s = String(text || '').trim();\n  // Strip markdown fences\n  s = s.replace(/^```(?:json)?\\s*\\n?/i, '').replace(/\\n?```\\s*$/g, '').trim();\n  // Find JSON region\n  const startObj = s.indexOf('{'); const startArr = s.indexOf('[');\n  let start; if (startObj === -1) start = startArr; else if (startArr === -1) start = startObj; else start = Math.min(startObj, startArr);\n  if (start === -1) throw new Error('No JSON: ' + s.slice(0, 200));\n  const end = Math.max(s.lastIndexOf('}'), s.lastIndexOf(']'));\n  if (end <= start) throw new Error('Unbalanced JSON: ' + s.slice(0, 200));\n  let raw = s.slice(start, end + 1);\n  // Lenient cleanup \u2014 common AI mistakes that break strict JSON.parse\n  // 1. Strip // line comments (but not inside strings \u2014 basic heuristic: not preceded by \":\")\n  raw = raw.replace(/^(\\s*)\\/\\/[^\\n]*$/gm, '$1');\n  // 2. Strip /* block */ comments\n  raw = raw.replace(/\\/\\*[\\s\\S]*?\\*\\//g, '');\n  // 3. Remove trailing commas before ] or }\n  raw = raw.replace(/,(\\s*[\\]\\}])/g, '$1');\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    const m = /position\\s+(\\d+)/i.exec(e.message);\n    let snippet = '';\n    if (m) {\n      const pos = parseInt(m[1]);\n      const from = Math.max(0, pos - 60); const to = Math.min(raw.length, pos + 60);\n      snippet = ' near: ...' + raw.slice(from, to).replace(/\\n/g, '\\\\n') + '...';\n    }\n    throw new Error('JSON parse failed: ' + e.message + snippet);\n  }\n  out = parsed;\n  if (!out || typeof out !== 'object') throw new Error('Parsed not object');\n  if (!Array.isArray(out.questions)) throw new Error('Missing questions array');\n  out._provider = provider;\n  out._model = model;\n  out.quizId = 'q_' + Date.now();\n} catch (e) {\n  errMsg = (e && e.message) ? e.message : String(e);\n}\nif (errMsg) return [{ json: { error: errMsg } }];\nreturn [{ json: out }];"
      },
      "id": "pr-001",
      "name": "Diagnostic Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        100
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $json || {};\nlet msg = 'diagnostic-generate: AI generation failed';\nif (data.error) {\n  if (typeof data.error === 'string') msg = data.error;\n  else if (data.error.message) msg = data.error.message;\n  else msg = JSON.stringify(data.error).slice(0, 300);\n} else if (data.message) msg = data.message;\nreturn [{ json: { error: msg } }];"
      },
      "id": "be-001",
      "name": "Diagnostic Build Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error ? 502 : 200 }}"
        }
      },
      "id": "rs-001",
      "name": "Diagnostic Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "diagnostic-analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-002",
      "name": "Analyze Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const systemBase = [\n  'ROLE: You are a warm, expert tutor analysing a student\\'s diagnostic test result for the parent and tutor.',\n  'OUTPUT: ONLY a JSON object matching the schema at the bottom. NEVER prose, NEVER markdown.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'TONE & QUALITY',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'Warm, specific, encouraging. Reference actual skills and scores from the input.',\n  'Never use \\'weak\\' or \\'bad\\'. Say \\'needs more practice with\u2026\\'',\n  'All content must be actionable \u2014 concrete, time-bounded, classroom-ready.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'CONTENT REQUIREMENTS',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  '- 2-3 STRENGTHS \u2014 specific and encouraging, max 12 words each.',\n  '- 2-3 WEAKNESSES \u2014 kind, specific, growth-oriented; max 14 words each.',\n  '- 3-4 RECOMMENDATIONS \u2014 concrete and time-bounded, max 16 words each (e.g. \\'Spend 10 minutes daily for one week practising linear equations using real-world word problems\\').',\n  '- analysisText \u2014 one warm paragraph (3-4 sentences) referencing actual skills and scores.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'OUTPUT FORMAT \u2014 STRICT JSON ONLY',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'Start your reply with the opening { character. End with }.',\n  'No markdown fences. No prose. No JS // comments. No /* */ comments. No trailing commas.',\n  '',\n  'Schema:',\n  '{',\n  '  \"strengths\": [\"...\", \"...\"],',\n  '  \"weaknesses\": [\"...\", \"...\"],',\n  '  \"recommendations\": [\"...\", \"...\", \"...\"],',\n  '  \"analysisText\": \"...\"',\n  '}'\n];\nconst system = systemBase.join('\\n');\nconst p = ($json && $json.body) || $json || {};\nconst questions = Array.isArray(p.questions) ? p.questions : [];\nconst answers = Array.isArray(p.answers) ? p.answers : [];\nconst byId = Object.fromEntries(answers.map(a => [a && a.questionId, a && a.chosenIndex]));\nconst skillCounts = {};\nlet correct = 0;\nfor (const q of questions) {\n  const skill = (q && q.skill) || 'General';\n  skillCounts[skill] = skillCounts[skill] || { correct: 0, total: 0 };\n  skillCounts[skill].total += 1;\n  const c = byId[q && q.id];\n  if (c !== undefined && c === q.correctIndex) { correct += 1; skillCounts[skill].correct += 1; }\n}\nconst total = Math.max(1, questions.length);\nconst score = Math.round((correct / total) * 100);\nconst skills = {};\nObject.entries(skillCounts).forEach(([k, v]) => { skills[k] = Math.round((v.correct / Math.max(1, v.total)) * 100); });\nconst skillsLine = Object.entries(skills).map(([k, v]) => k + ': ' + v + '%').join(', ');\nconst userMsg = [\n  'Quiz id: ' + (p.quizId || ''),\n  'Overall score: ' + score + '% (' + correct + '/' + total + ')',\n  'Per-skill scores: ' + skillsLine\n].join('\\n');\nreturn [{ json: { system: system, user: userMsg, _payload: p, _kind: 'diagnostic-analyze', _score: score, _skills: skills } }];"
      },
      "id": "bp-002",
      "name": "Analyze Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($json._payload && $json._payload.model) || 'claude-haiku-4-5', max_tokens: 4000, system: $json.system, messages: [{ role: 'user', content: $json.user }] }) }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "cl-002",
      "name": "Analyze Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        260
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($('Analyze Build Prompt').first().json._payload && $('Analyze Build Prompt').first().json._payload.hfModel) || 'meta-llama/Llama-3.3-70B-Instruct', messages: [{ role: 'system', content: $('Analyze Build Prompt').first().json.system }, { role: 'user', content: $('Analyze Build Prompt').first().json.user }], max_tokens: 2000, temperature: 0.3 }) }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "hf-002",
      "name": "Analyze HF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        360
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "let out = null;\nlet errMsg = null;\ntry {\n  const data = $json || {};\n  let text = '';\n  let provider = 'unknown';\n  let model = '';\n  if (data.content && Array.isArray(data.content) && data.content[0] && data.content[0].text) { text = data.content[0].text; provider = 'claude'; model = data.model || ''; }\n  else if (data.choices && Array.isArray(data.choices) && data.choices[0] && data.choices[0].message && data.choices[0].message.content) { text = data.choices[0].message.content; provider = 'hf'; model = data.model || ''; }\n  else if (data.error) { const em = typeof data.error === 'string' ? data.error : (data.error.message || JSON.stringify(data.error)); throw new Error('Provider error: ' + String(em).slice(0, 300)); }\n  else throw new Error('Unrecognized LLM response: ' + JSON.stringify(data).slice(0, 200));\n  let s = String(text || '').trim();\n  s = s.replace(/^```(?:json)?\\s*\\n?/i, '').replace(/\\n?```\\s*$/g, '').trim();\n  const startObj = s.indexOf('{'); const startArr = s.indexOf('[');\n  let start; if (startObj === -1) start = startArr; else if (startArr === -1) start = startObj; else start = Math.min(startObj, startArr);\n  if (start === -1) throw new Error('No JSON: ' + s.slice(0, 200));\n  const end = Math.max(s.lastIndexOf('}'), s.lastIndexOf(']'));\n  if (end <= start) throw new Error('Unbalanced JSON: ' + s.slice(0, 200));\n  let raw = s.slice(start, end + 1);\n  raw = raw.replace(/^(\\s*)\\/\\/[^\\n]*$/gm, '$1');\n  raw = raw.replace(/\\/\\*[\\s\\S]*?\\*\\//g, '');\n  raw = raw.replace(/,(\\s*[\\]\\}])/g, '$1');\n  let parsed;\n  try { parsed = JSON.parse(raw); }\n  catch (e) {\n    const m = /position\\s+(\\d+)/i.exec(e.message);\n    let snippet = '';\n    if (m) { const pos = parseInt(m[1]); const from = Math.max(0, pos - 60); const to = Math.min(raw.length, pos + 60); snippet = ' near: ...' + raw.slice(from, to).replace(/\\n/g, '\\\\n') + '...'; }\n    throw new Error('JSON parse failed: ' + e.message + snippet);\n  }\n  if (!parsed || typeof parsed !== 'object') throw new Error('Parsed not object');\n  let bp = {};\n  try { bp = $('Analyze Build Prompt').first().json || {}; } catch {}\n  out = {\n    score: typeof bp._score === 'number' ? bp._score : 0,\n    skills: bp._skills || {},\n    strengths: Array.isArray(parsed.strengths) ? parsed.strengths : [],\n    weaknesses: Array.isArray(parsed.weaknesses) ? parsed.weaknesses : [],\n    recommendations: Array.isArray(parsed.recommendations) ? parsed.recommendations : [],\n    analysisText: parsed.analysisText || '',\n    _provider: provider,\n    _model: model,\n  };\n} catch (e) {\n  errMsg = (e && e.message) ? e.message : String(e);\n}\nif (errMsg) return [{ json: { error: errMsg } }];\nreturn [{ json: out }];"
      },
      "id": "pr-002",
      "name": "Analyze Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $json || {};\nlet msg = 'diagnostic-analyze: AI analysis failed';\nif (data.error) { if (typeof data.error === 'string') msg = data.error; else if (data.error.message) msg = data.error.message; else msg = JSON.stringify(data.error).slice(0, 300); } else if (data.message) msg = data.message;\nreturn [{ json: { error: msg } }];"
      },
      "id": "be-002",
      "name": "Analyze Build Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error ? 502 : 200 }}"
        }
      },
      "id": "rs-002",
      "name": "Analyze Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assessment-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-003",
      "name": "Assessment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const systemBase = [\n  'ROLE: You are an expert K-12 assessment writer who creates curriculum-aligned graded tests.',\n  'OUTPUT: ONLY a JSON object matching the schema at the bottom. NEVER HTML, NEVER CSS, NEVER React/JSX, NEVER code.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'QUESTION TIER (auto-detected from grade)',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'Tier 1 (Grades 1-2 / ages 6-8): Foundational',\n  '  - Question types: picture identification (use vivid emoji in text), fill-in-the-blank, simple matching',\n  '  - 4-6 word sentences, large concept clarity, basic facts only',\n  '  - Topics: colors, numbers, shapes, animals, body parts, simple arithmetic, common words',\n  '',\n  'Tier 2 (Grades 3-8 / ages 8-14): Intermediate',\n  '  - Question types: MCQ (4 options), True/False with justification',\n  '  - Factual, curriculum-aligned content; 4 clear distractors per MCQ that reflect real misconceptions',\n  '  - Topics: solar system, fractions, grammar, water cycle, geography, civics, basic chemistry, etc.',\n  '',\n  'Tier 3 (Grades 9-12 / ages 14-18): Advanced',\n  '  - Question types: Case-Based MCQ + Assertion-Reasoning (CBSE format)',\n  '  - Case-Based: prepend an 80-100 word scenario/data paragraph to the question text, separated by two newlines',\n  '  - Assertion-Reasoning: format text as \\'ASSERTION: [statement A]\\\\n\\\\nREASON: [statement R]\\' and use the standard 4 CBSE options:',\n  '      A) Both A and R are true; R is the correct explanation of A',\n  '      B) Both A and R are true; R is NOT the correct explanation of A',\n  '      C) A is true but R is false',\n  '      D) A is false but R is true',\n  '  - Topics: Newtonian mechanics, organic chemistry, calculus, modern history, constitution, programming concepts',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'DIFFICULTY CALIBRATION',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'Easy   = recall and basic comprehension',\n  'Medium = application and interpretation (default)',\n  'Hard   = analysis, synthesis, evaluation',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'QUESTION QUALITY RULES',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  '- Each question targets ONE topic/subtopic from the input.',\n  '- 4 options for MCQ, exactly ONE correct.',\n  '- Distractors must be plausible misconceptions, not random nonsense.',\n  '- Distribute marks evenly unless difficulty mix demands otherwise.',\n  '- \\'explanation\\' field: 1-2 sentences shown after submission. Explain why the correct answer is right and (briefly) why a common wrong answer is wrong.',\n  '- Number questions q1, q2, q3... in order.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'OUTPUT FORMAT \u2014 STRICT JSON ONLY',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'Start your reply with the opening { character. End with }.',\n  'No markdown fences. No prose. No JS // comments. No /* */ comments. No trailing commas.',\n  '',\n  'Schema:',\n  '{',\n  '  \"questions\": [',\n  '    {',\n  '      \"id\": \"q1\",',\n  '      \"text\": \"Full question text (include case-study paragraph or assertion-reason here, separated by \\\\\\\\n\\\\\\\\n)\",',\n  '      \"options\": [\"option A\", \"option B\", \"option C\", \"option D\"],',\n  '      \"correctIndex\": 2,',\n  '      \"marks\": 2,',\n  '      \"explanation\": \"1-2 sentence explanation\"',\n  '    }',\n  '  ]',\n  '}'\n];\nconst system = systemBase.join('\\n');\nconst p = ($json && $json.body) || $json || {};\nconst topics = Array.isArray(p.topics) ? p.topics.join(', ') : (p.topics || '');\nconst subtopics = Array.isArray(p.subtopics) ? p.subtopics.join(', ') : (p.subtopics || '');\nconst grade = Number(p.grade); const safeGrade = Number.isFinite(grade) && grade > 0 ? grade : 7;\nconst numQ = Number(p.numQ); const safeNumQ = Number.isFinite(numQ) && numQ > 0 ? Math.min(50, numQ) : 10;\nconst marks = Number(p.marks); const safeMarks = Number.isFinite(marks) && marks > 0 ? marks : 20;\nconst userMsg = [\n  'Generate a ' + safeNumQ + '-question assessment.',\n  'Grade: ' + safeGrade + ', Subject: ' + (p.subject || 'Maths') + '.',\n  'Topics: ' + topics + '.',\n  'Sub-topics: ' + subtopics + '.',\n  'Difficulty: ' + (p.difficulty || 'Medium') + '.',\n  'Total marks: ' + safeMarks + '.' + (p.timed ? ' Timed: ' + (Number(p.totalTime) || 30) + ' minutes.' : '')\n].join('\\n');\nreturn [{ json: { system: system, user: userMsg, _payload: p, _kind: 'assessment-generate' } }];"
      },
      "id": "bp-003",
      "name": "Assessment Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        500
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($json._payload && $json._payload.model) || 'claude-sonnet-4-5', max_tokens: 12000, system: $json.system, messages: [{ role: 'user', content: $json.user }] }) }}",
        "options": {
          "timeout": 240000
        }
      },
      "id": "cl-003",
      "name": "Assessment Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        460
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($('Assessment Build Prompt').first().json._payload && $('Assessment Build Prompt').first().json._payload.hfModel) || 'meta-llama/Llama-3.3-70B-Instruct', messages: [{ role: 'system', content: $('Assessment Build Prompt').first().json.system }, { role: 'user', content: $('Assessment Build Prompt').first().json.user }], max_tokens: 6000, temperature: 0.3 }) }}",
        "options": {
          "timeout": 240000
        }
      },
      "id": "hf-003",
      "name": "Assessment HF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        560
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "let out = null;\nlet errMsg = null;\ntry {\n  const data = $json || {};\n  let text = '';\n  let provider = 'unknown';\n  let model = '';\n  if (data.content && Array.isArray(data.content) && data.content[0] && data.content[0].text) { text = data.content[0].text; provider = 'claude'; model = data.model || ''; }\n  else if (data.choices && Array.isArray(data.choices) && data.choices[0] && data.choices[0].message && data.choices[0].message.content) { text = data.choices[0].message.content; provider = 'hf'; model = data.model || ''; }\n  else if (data.error) { const em = typeof data.error === 'string' ? data.error : (data.error.message || JSON.stringify(data.error)); throw new Error('Provider error: ' + String(em).slice(0, 300)); }\n  else throw new Error('Unrecognized LLM response: ' + JSON.stringify(data).slice(0, 200));\n  let s = String(text || '').trim();\n  // Strip markdown fences\n  s = s.replace(/^```(?:json)?\\s*\\n?/i, '').replace(/\\n?```\\s*$/g, '').trim();\n  // Find JSON region\n  const startObj = s.indexOf('{'); const startArr = s.indexOf('[');\n  let start; if (startObj === -1) start = startArr; else if (startArr === -1) start = startObj; else start = Math.min(startObj, startArr);\n  if (start === -1) throw new Error('No JSON: ' + s.slice(0, 200));\n  const end = Math.max(s.lastIndexOf('}'), s.lastIndexOf(']'));\n  if (end <= start) throw new Error('Unbalanced JSON: ' + s.slice(0, 200));\n  let raw = s.slice(start, end + 1);\n  // Lenient cleanup \u2014 common AI mistakes that break strict JSON.parse\n  // 1. Strip // line comments (but not inside strings \u2014 basic heuristic: not preceded by \":\")\n  raw = raw.replace(/^(\\s*)\\/\\/[^\\n]*$/gm, '$1');\n  // 2. Strip /* block */ comments\n  raw = raw.replace(/\\/\\*[\\s\\S]*?\\*\\//g, '');\n  // 3. Remove trailing commas before ] or }\n  raw = raw.replace(/,(\\s*[\\]\\}])/g, '$1');\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    const m = /position\\s+(\\d+)/i.exec(e.message);\n    let snippet = '';\n    if (m) {\n      const pos = parseInt(m[1]);\n      const from = Math.max(0, pos - 60); const to = Math.min(raw.length, pos + 60);\n      snippet = ' near: ...' + raw.slice(from, to).replace(/\\n/g, '\\\\n') + '...';\n    }\n    throw new Error('JSON parse failed: ' + e.message + snippet);\n  }\n  out = parsed;\n  if (!out || typeof out !== 'object') throw new Error('Parsed not object');\n  if (!Array.isArray(out.questions)) throw new Error('Missing questions array');\n  out._provider = provider;\n  out._model = model;\n  \n} catch (e) {\n  errMsg = (e && e.message) ? e.message : String(e);\n}\nif (errMsg) return [{ json: { error: errMsg } }];\nreturn [{ json: out }];"
      },
      "id": "pr-003",
      "name": "Assessment Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $json || {};\nlet msg = 'assessment-generate: AI generation failed';\nif (data.error) { if (typeof data.error === 'string') msg = data.error; else if (data.error.message) msg = data.error.message; else msg = JSON.stringify(data.error).slice(0, 300); } else if (data.message) msg = data.message;\nreturn [{ json: { error: msg } }];"
      },
      "id": "be-003",
      "name": "Assessment Build Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        620
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error ? 502 : 200 }}"
        }
      },
      "id": "rs-003",
      "name": "Assessment Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        500
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "worksheet-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-004",
      "name": "Worksheet Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        700
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const systemBase = [\n  'ROLE: You are a premium K-12 worksheet designer in the Twinkl + IXL + Cambridge tradition.',\n  'OUTPUT: ONLY a JSON object matching the schema at the bottom. NEVER HTML, NEVER CSS, NEVER code.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'DESIGN PHILOSOPHY',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'Combine the best of: UK National Curriculum, Australian Curriculum, IXL question patterns, Twinkl worksheet structure, Cambridge primary, Oxford frameworks, modern phonics, and inquiry-based activity design.',\n  'Generate worksheets that feel: vibrant, premium, age-appropriate, activity-based, cognitively progressive \u2014 not generic textbook drills.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'CONTENT GUIDANCE',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  '- Tone: warm, conversational, encouraging \u2014 never lecture-style.',\n  '- For each section the teacher requested, include 4-6 quality items.',\n  '- Items should progress easy \u2192 medium \u2192 harder within a section.',\n  '- Use real-world, age-appropriate examples (school, family, food, pets, hobbies).',\n  '- Include occasional \\'challenge\\' items labeled with prompts like \\'Brain Boost\\', \\'Try This\\', \\'Super Learner Challenge\\'.',\n  '- Avoid repetitive question patterns within a single worksheet.',\n  '- Match the difficulty level to the grade.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'DIFFERENTIATION BY GRADE',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'Grades 1-3: shorter sentences (4-8 words), concrete and visual, phonics-friendly, very encouraging tone.',\n  'Grades 4-6: structured tasks, multi-step problems, infographic-style content cues.',\n  'Grades 7-9: academic phrasing, inquiry tasks, analytical and HOTS questions.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'SECTION TYPES (use the section names the teacher requested; pick item shapes accordingly)',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'MCQs                     \u2192 { question, options[4], answer (the correct option string) }',\n  'Fill in the blanks       \u2192 { sentence (use ___ for blank), answer }',\n  'Match the following      \u2192 { pair: { left, right } }',\n  'Short answers            \u2192 { question, answer }',\n  'True or False            \u2192 { question, answer (the string \\'True\\' or \\'False\\') }',\n  'Creative challenge / HOTS \u2192 { prompt }',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'OUTPUT FORMAT \u2014 STRICT JSON ONLY',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'Start your reply with the opening { character. End with }.',\n  'No markdown fences. No prose. No JS // comments. No /* */ comments. No trailing commas.',\n  '',\n  'Schema:',\n  '{',\n  '  \"json\": {',\n  '    \"topic\": \"Topic name\",',\n  '    \"intro\": \"What you will practice today (1-2 warm, friendly sentences)\",',\n  '    \"sections\": [',\n  '      {',\n  '        \"name\": \"MCQs\",',\n  '        \"items\": [',\n  '          { \"question\": \"...\", \"options\": [\"A\",\"B\",\"C\",\"D\"], \"answer\": \"A\" }',\n  '        ]',\n  '      },',\n  '      {',\n  '        \"name\": \"Fill in the blanks\",',\n  '        \"items\": [',\n  '          { \"sentence\": \"The capital of ___ is Paris.\", \"answer\": \"France\" }',\n  '        ]',\n  '      }',\n  '    ]',\n  '  }',\n  '}'\n];\nconst system = systemBase.join('\\n');\nconst p = ($json && $json.body) || $json || {};\nconst sections = Array.isArray(p.sections) && p.sections.length ? p.sections.join(', ') : 'MCQs, Fill in the blanks';\nconst grade = Number(p.grade); const safeGrade = Number.isFinite(grade) && grade > 0 ? grade : 5;\nconst userMsg = [\n  'Topic: ' + (p.topic || '') + ', Sub-topic: ' + (p.subtopic || '') + '.',\n  'Grade: ' + safeGrade + ', Subject: ' + (p.subject || 'Maths') + '.',\n  'Type: ' + (p.type || 'Homework') + '.',\n  'Sections to include: ' + sections + '.'\n].join('\\n');\nreturn [{ json: { system: system, user: userMsg, _payload: p, _kind: 'worksheet-generate' } }];"
      },
      "id": "bp-004",
      "name": "Worksheet Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        700
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($json._payload && $json._payload.model) || 'claude-sonnet-4-5', max_tokens: 10000, system: $json.system, messages: [{ role: 'user', content: $json.user }] }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "cl-004",
      "name": "Worksheet Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        660
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($('Worksheet Build Prompt').first().json._payload && $('Worksheet Build Prompt').first().json._payload.hfModel) || 'meta-llama/Llama-3.3-70B-Instruct', messages: [{ role: 'system', content: $('Worksheet Build Prompt').first().json.system }, { role: 'user', content: $('Worksheet Build Prompt').first().json.user }], max_tokens: 5000, temperature: 0.3 }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "hf-004",
      "name": "Worksheet HF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        760
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "let out = null;\nlet errMsg = null;\ntry {\n  const data = $json || {};\n  let text = '';\n  let provider = 'unknown';\n  let model = '';\n  if (data.content && Array.isArray(data.content) && data.content[0] && data.content[0].text) { text = data.content[0].text; provider = 'claude'; model = data.model || ''; }\n  else if (data.choices && Array.isArray(data.choices) && data.choices[0] && data.choices[0].message && data.choices[0].message.content) { text = data.choices[0].message.content; provider = 'hf'; model = data.model || ''; }\n  else if (data.error) { const em = typeof data.error === 'string' ? data.error : (data.error.message || JSON.stringify(data.error)); throw new Error('Provider error: ' + String(em).slice(0, 300)); }\n  else throw new Error('Unrecognized LLM response: ' + JSON.stringify(data).slice(0, 200));\n  let s = String(text || '').trim();\n  // Strip markdown fences\n  s = s.replace(/^```(?:json)?\\s*\\n?/i, '').replace(/\\n?```\\s*$/g, '').trim();\n  // Find JSON region\n  const startObj = s.indexOf('{'); const startArr = s.indexOf('[');\n  let start; if (startObj === -1) start = startArr; else if (startArr === -1) start = startObj; else start = Math.min(startObj, startArr);\n  if (start === -1) throw new Error('No JSON: ' + s.slice(0, 200));\n  const end = Math.max(s.lastIndexOf('}'), s.lastIndexOf(']'));\n  if (end <= start) throw new Error('Unbalanced JSON: ' + s.slice(0, 200));\n  let raw = s.slice(start, end + 1);\n  // Lenient cleanup \u2014 common AI mistakes that break strict JSON.parse\n  // 1. Strip // line comments (but not inside strings \u2014 basic heuristic: not preceded by \":\")\n  raw = raw.replace(/^(\\s*)\\/\\/[^\\n]*$/gm, '$1');\n  // 2. Strip /* block */ comments\n  raw = raw.replace(/\\/\\*[\\s\\S]*?\\*\\//g, '');\n  // 3. Remove trailing commas before ] or }\n  raw = raw.replace(/,(\\s*[\\]\\}])/g, '$1');\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    const m = /position\\s+(\\d+)/i.exec(e.message);\n    let snippet = '';\n    if (m) {\n      const pos = parseInt(m[1]);\n      const from = Math.max(0, pos - 60); const to = Math.min(raw.length, pos + 60);\n      snippet = ' near: ...' + raw.slice(from, to).replace(/\\n/g, '\\\\n') + '...';\n    }\n    throw new Error('JSON parse failed: ' + e.message + snippet);\n  }\n  out = parsed;\n  if (!out || typeof out !== 'object') throw new Error('Parsed not object');\n  if (!out.json || !Array.isArray(out.json.sections)) { out = out.json ? out : { json: out }; }\n  out._provider = provider;\n  out._model = model;\n  \n} catch (e) {\n  errMsg = (e && e.message) ? e.message : String(e);\n}\nif (errMsg) return [{ json: { error: errMsg } }];\nreturn [{ json: out }];"
      },
      "id": "pr-004",
      "name": "Worksheet Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        700
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $json || {};\nlet msg = 'worksheet-generate: AI generation failed';\nif (data.error) { if (typeof data.error === 'string') msg = data.error; else if (data.error.message) msg = data.error.message; else msg = JSON.stringify(data.error).slice(0, 300); } else if (data.message) msg = data.message;\nreturn [{ json: { error: msg } }];"
      },
      "id": "be-004",
      "name": "Worksheet Build Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        820
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error ? 502 : 200 }}"
        }
      },
      "id": "rs-004",
      "name": "Worksheet Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        700
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lessonplan-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-005",
      "name": "LessonPlan Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        900
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const systemBase = [\n  'ROLE: You are an elite instructional designer for Sheldon\\'s Library, building 1-on-1 online lesson plans that feel premium, interactive, fun, and academically strong.',\n  'OUTPUT: ONLY a JSON object matching the schema at the bottom. NEVER HTML, NEVER CSS, NEVER code.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'MANDATORY 10-SECTION STRUCTURE \u2014 NEVER SKIP, NEVER REORDER',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  '1. Icebreaker / Rapport         \u2014 5 min  (friendly opener, topic-related mini interaction)',\n  '2. Warm-up                       \u2014 5 min  (activate prior knowledge, 2-3 quick interactive questions)',\n  '3. Learning Objective            \u2014 3 min  (\\'By the end of this lesson, you will be able to...\\')',\n  '4. Definition                    \u2014 4 min  (core concept, simple language, key vocabulary)',\n  '5. Explanation with Examples     \u2014 12 min (step-by-step, multiple relatable examples, analogies)',\n  '6. Activity (I Do / We Do / You Do) \u2014 10 min (gradual release of responsibility)',\n  '7. Skill Task                    \u2014 6 min  (independent application, slight challenge)',\n  '8. Quick Assessment              \u2014 5 min  (5 questions, varied formats, with answers)',\n  '9. Key Takeaways                 \u2014 3 min  (recap, mnemonic if possible)',\n  '10. Closure (HOTS)               \u2014 2 min  (\\'What if?\\' open-ended thinking, real-world reflection)',\n  'Total: 55 minutes (or proportionally rescale for the duration the teacher requested).',\n  'Each timeline entry\\'s \\'time\\' field shows the cumulative slot, e.g. \\'0-5 min\\', \\'5-10 min\\', \\'10-13 min\\'.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'FORMAT \u2014 1-on-1 ONLINE LIVE CLASS',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'Activities MUST work over Zoom/Meet/whiteboard with screen share + chat + voice.',\n  'USE: visual prompts, drawing tools, virtual whiteboards, quick polls, drag-and-drop ideas, story prompts, guessing games, reactions.',\n  'AVOID: physical groups, lab equipment, large team activities, printing, heavy movement.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'TEACHING STYLE',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'Inquiry-based, interactive, conversational, gamified, encouraging.',\n  'Conversational tone \u2014 feels like a great tutor, NOT a textbook narrator.',\n  'Examples must match age, difficulty, and be globally understandable.',\n  'Differentiation \\'below/at/above\\' must be SPECIFIC: name what to change, not \\'give harder questions\\'.',\n  'Homework: 10-15 minutes, HOTS-style follow-up.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'OUTPUT FORMAT \u2014 STRICT JSON ONLY',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'Start your reply with the opening { character. End with }.',\n  'No markdown fences. No prose. No JS // comments. No /* */ comments. No trailing commas.',\n  '',\n  'Schema:',\n  '{',\n  '  \"json\": {',\n  '    \"topic\": \"Topic name\",',\n  '    \"objectives\": [',\n  '      \"By the end of this lesson, you will be able to...\",',\n  '      \"Students will be able to apply...\"',\n  '    ],',\n  '    \"timeline\": [',\n  '      {',\n  '        \"time\": \"0-5 min\",',\n  '        \"activity\": \"Icebreaker \u2014 describe the warm conversational opener and the question you ask\",',\n  '        \"materials\": \"Chat box, screen share\",',\n  '        \"notes\": \"Teacher script (2-3 sentences) \u2014 what to say, what reactions to look for\"',\n  '      }',\n  '    ],',\n  '    \"differentiation\": {',\n  '      \"below\": \"Specific scaffolding strategy (e.g., provide a sentence starter + visual)\",',\n  '      \"at\": \"Core task as designed\",',\n  '      \"above\": \"Specific extension challenge (e.g., apply the concept to a multi-step real-world scenario)\"',\n  '    },',\n  '    \"assessment\": \"5 quick assessment questions covering recall, application, and analysis. Include the questions and answers in this string.\",',\n  '    \"homework\": \"10-15 minute HOTS-style task description\"',\n  '  }',\n  '}'\n];\nconst system = systemBase.join('\\n');\nconst p = ($json && $json.body) || $json || {};\nconst grade = Number(p.grade); const safeGrade = Number.isFinite(grade) && grade > 0 ? grade : 5;\nconst duration = Number(p.duration); const safeDuration = Number.isFinite(duration) && duration > 0 ? duration : 55;\nconst userMsg = [\n  'Topic: ' + (p.topic || '') + ', Sub-topic: ' + (p.subtopic || '') + '.',\n  'Grade: ' + safeGrade + ', Subject: ' + (p.subject || 'Maths') + '.',\n  'Class duration: ' + safeDuration + ' minutes (rescale the 55-min default proportionally if needed).'\n].join('\\n');\nreturn [{ json: { system: system, user: userMsg, _payload: p, _kind: 'lessonplan-generate' } }];"
      },
      "id": "bp-005",
      "name": "LessonPlan Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        900
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($json._payload && $json._payload.model) || 'claude-sonnet-4-5', max_tokens: 6000, system: $json.system, messages: [{ role: 'user', content: $json.user }] }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "cl-005",
      "name": "LessonPlan Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        860
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($('LessonPlan Build Prompt').first().json._payload && $('LessonPlan Build Prompt').first().json._payload.hfModel) || 'meta-llama/Llama-3.3-70B-Instruct', messages: [{ role: 'system', content: $('LessonPlan Build Prompt').first().json.system }, { role: 'user', content: $('LessonPlan Build Prompt').first().json.user }], max_tokens: 3000, temperature: 0.3 }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "hf-005",
      "name": "LessonPlan HF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        960
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "let out = null;\nlet errMsg = null;\ntry {\n  const data = $json || {};\n  let text = '';\n  let provider = 'unknown';\n  let model = '';\n  if (data.content && Array.isArray(data.content) && data.content[0] && data.content[0].text) { text = data.content[0].text; provider = 'claude'; model = data.model || ''; }\n  else if (data.choices && Array.isArray(data.choices) && data.choices[0] && data.choices[0].message && data.choices[0].message.content) { text = data.choices[0].message.content; provider = 'hf'; model = data.model || ''; }\n  else if (data.error) { const em = typeof data.error === 'string' ? data.error : (data.error.message || JSON.stringify(data.error)); throw new Error('Provider error: ' + String(em).slice(0, 300)); }\n  else throw new Error('Unrecognized LLM response: ' + JSON.stringify(data).slice(0, 200));\n  let s = String(text || '').trim();\n  // Strip markdown fences\n  s = s.replace(/^```(?:json)?\\s*\\n?/i, '').replace(/\\n?```\\s*$/g, '').trim();\n  // Find JSON region\n  const startObj = s.indexOf('{'); const startArr = s.indexOf('[');\n  let start; if (startObj === -1) start = startArr; else if (startArr === -1) start = startObj; else start = Math.min(startObj, startArr);\n  if (start === -1) throw new Error('No JSON: ' + s.slice(0, 200));\n  const end = Math.max(s.lastIndexOf('}'), s.lastIndexOf(']'));\n  if (end <= start) throw new Error('Unbalanced JSON: ' + s.slice(0, 200));\n  let raw = s.slice(start, end + 1);\n  // Lenient cleanup \u2014 common AI mistakes that break strict JSON.parse\n  // 1. Strip // line comments (but not inside strings \u2014 basic heuristic: not preceded by \":\")\n  raw = raw.replace(/^(\\s*)\\/\\/[^\\n]*$/gm, '$1');\n  // 2. Strip /* block */ comments\n  raw = raw.replace(/\\/\\*[\\s\\S]*?\\*\\//g, '');\n  // 3. Remove trailing commas before ] or }\n  raw = raw.replace(/,(\\s*[\\]\\}])/g, '$1');\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    const m = /position\\s+(\\d+)/i.exec(e.message);\n    let snippet = '';\n    if (m) {\n      const pos = parseInt(m[1]);\n      const from = Math.max(0, pos - 60); const to = Math.min(raw.length, pos + 60);\n      snippet = ' near: ...' + raw.slice(from, to).replace(/\\n/g, '\\\\n') + '...';\n    }\n    throw new Error('JSON parse failed: ' + e.message + snippet);\n  }\n  out = parsed;\n  if (!out || typeof out !== 'object') throw new Error('Parsed not object');\n  if (!out.json) { out = { json: out }; }\n  out._provider = provider;\n  out._model = model;\n  \n} catch (e) {\n  errMsg = (e && e.message) ? e.message : String(e);\n}\nif (errMsg) return [{ json: { error: errMsg } }];\nreturn [{ json: out }];"
      },
      "id": "pr-005",
      "name": "LessonPlan Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        900
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $json || {};\nlet msg = 'lessonplan-generate: AI generation failed';\nif (data.error) { if (typeof data.error === 'string') msg = data.error; else if (data.error.message) msg = data.error.message; else msg = JSON.stringify(data.error).slice(0, 300); } else if (data.message) msg = data.message;\nreturn [{ json: { error: msg } }];"
      },
      "id": "be-005",
      "name": "LessonPlan Build Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1020
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error ? 502 : 200 }}"
        }
      },
      "id": "rs-005",
      "name": "LessonPlan Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        900
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "presentation-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-006",
      "name": "Presentation Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        1120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const systemBase = [\n  'ROLE: You are a premium K-12 presentation content designer for 1-on-1 online tutoring sessions.',\n  'OUTPUT: ONLY a JSON object matching the schema at the bottom. NEVER HTML, NEVER CSS, NEVER code.',\n  '',\n  'The frontend renders a fully interactive slide deck (animations, fullscreen, slide nav, speaker notes) \u2014 your job is ONLY to produce the slide CONTENT as JSON.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'MANDATORY 10-SECTION FLOW \u2014 IN THIS EXACT ORDER',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'Cover all 10 sections across 15-20 slides (more for 60-min, fewer for 30-min):',\n  '1. Icebreaker / Rapport             (1 slide  \u2014 emotional hook)',\n  '2. Warm-up                          (1-2 slides \u2014 activate prior knowledge)',\n  '3. Learning Objective               (1 slide \u2014 \\'I will be able to...\\')',\n  '4. Definition                       (1-2 slides \u2014 core concept)',\n  '5. Explanation + Examples           (3-5 slides \u2014 mix definition / image_caption / compare)',\n  '6. Activity (I Do / We Do / You Do) (3 slides \u2014 type ido_wedo_youdo)',\n  '7. Skill Task                       (1-2 slides \u2014 apply in new context)',\n  '8. Quick Assessment                 (3-5 slides \u2014 type quiz)',\n  '9. Key Takeaways                    (1 slide \u2014 type takeaway)',\n  '10. Closure with HOTS               (1 slide \u2014 \\'What if?\\' question)',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'CONTENT QUALITY RULES',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  '- One purpose per slide \u2014 never cram.',\n  '- Max ~30 words of body text per slide.',\n  '- Positive language (\\'You CAN do this!\\').',\n  '- Real student experiences (school, family, food, pets, hobbies).',\n  '- Age-appropriate vocabulary.',\n  '- Every slide MUST have a \\'notes\\' field with a 2-4 sentence teacher script.',\n  '- Sprinkle 2-3 \\'Did you know?\\' facts across the deck.',\n  '- Mix slide types liberally \u2014 variety holds attention.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'AVAILABLE SLIDE TYPES (use any combination)',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'title              \u2014 opening or section divider     { type, title, body, notes }',\n  'definition         \u2014 concept introduction           { type, title, definition: {term, meaning}, notes }',\n  'image_caption      \u2014 visual + caption               { type, title, imageCaption: {caption, emoji}, notes }',\n  'compare            \u2014 two-column comparison         { type, title, compare: {left:{title,points[]}, right:{title,points[]}}, notes }',\n  'ido_wedo_youdo     \u2014 guided practice               { type, title, iwy: {iDo, weDo, youDo}, notes }',\n  'quiz               \u2014 interactive MCQ               { type, title, quiz: {question, options[4], correctIndex, explanation}, notes }',\n  'fill_blank         \u2014 fill-in-the-blank             { type, title, fillBlank: {sentence, blanks[]}, notes }',\n  'takeaway           \u2014 recap bullets                 { type, title, takeaway: {points[]}, notes }',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'OUTPUT FORMAT \u2014 STRICT JSON ONLY',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'Start your reply with the opening { character. End with }.',\n  'No markdown fences. No prose. No HTML. No CSS. No JS // comments. No /* */ comments. No trailing commas.',\n  '',\n  'Schema:',\n  '{',\n  '  \"slides\": [',\n  '    { \"type\": \"title\", \"title\": \"Welcome!\", \"body\": \"Today we explore...\", \"notes\": \"Greet the student warmly...\" },',\n  '    { \"type\": \"definition\", \"title\": \"What is X?\", \"definition\": { \"term\": \"X\", \"meaning\": \"...\" }, \"notes\": \"Speak slowly...\" },',\n  '    { \"type\": \"compare\", \"title\": \"Two ways to think about it\", \"compare\": { \"left\": { \"title\": \"Way A\", \"points\": [\"...\"] }, \"right\": { \"title\": \"Way B\", \"points\": [\"...\"] } }, \"notes\": \"Ask the student which makes more sense...\" },',\n  '    { \"type\": \"ido_wedo_youdo\", \"title\": \"Let\\'s practice\", \"iwy\": { \"iDo\": \"Watch me solve...\", \"weDo\": \"Now together...\", \"youDo\": \"Your turn...\" }, \"notes\": \"Encourage the student...\" },',\n  '    { \"type\": \"quiz\", \"title\": \"Quick check\", \"quiz\": { \"question\": \"Which one is...?\", \"options\": [\"A\",\"B\",\"C\",\"D\"], \"correctIndex\": 0, \"explanation\": \"...\" }, \"notes\": \"Pause and let them think...\" },',\n  '    { \"type\": \"takeaway\", \"title\": \"Key takeaways\", \"takeaway\": { \"points\": [\"Point 1\", \"Point 2\", \"Point 3\"] }, \"notes\": \"Summarise warmly...\" }',\n  '  ]',\n  '}'\n];\nconst system = systemBase.join('\\n');\nconst p = ($json && $json.body) || $json || {};\nconst grade = Number(p.grade); const safeGrade = Number.isFinite(grade) && grade > 0 ? grade : 5;\nconst duration = Number(p.duration); const safeDuration = Number.isFinite(duration) && duration > 0 ? duration : 60;\nconst userMsg = [\n  'Topic: ' + (p.topic || '') + ', Sub-topic: ' + (p.subtopic || '') + '.',\n  'Grade: ' + safeGrade + ', Subject: ' + (p.subject || 'Maths') + '.',\n  'Class duration: ' + safeDuration + ' minutes.',\n  'Difficulty: ' + (p.difficulty || 'Medium') + '.'\n].join('\\n');\nreturn [{ json: { system: system, user: userMsg, _payload: p, _kind: 'presentation-generate' } }];"
      },
      "id": "bp-006",
      "name": "Presentation Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1120
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($json._payload && $json._payload.model) || 'claude-sonnet-4-5', max_tokens: 16000, system: $json.system, messages: [{ role: 'user', content: $json.user }] }) }}",
        "options": {
          "timeout": 240000
        }
      },
      "id": "cl-006",
      "name": "Presentation Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        1080
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($('Presentation Build Prompt').first().json._payload && $('Presentation Build Prompt').first().json._payload.hfModel) || 'meta-llama/Llama-3.3-70B-Instruct', messages: [{ role: 'system', content: $('Presentation Build Prompt').first().json.system }, { role: 'user', content: $('Presentation Build Prompt').first().json.user }], max_tokens: 8000, temperature: 0.3 }) }}",
        "options": {
          "timeout": 240000
        }
      },
      "id": "hf-006",
      "name": "Presentation HF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        1180
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "let out = null;\nlet errMsg = null;\ntry {\n  const data = $json || {};\n  let text = '';\n  let provider = 'unknown';\n  let model = '';\n  if (data.content && Array.isArray(data.content) && data.content[0] && data.content[0].text) { text = data.content[0].text; provider = 'claude'; model = data.model || ''; }\n  else if (data.choices && Array.isArray(data.choices) && data.choices[0] && data.choices[0].message && data.choices[0].message.content) { text = data.choices[0].message.content; provider = 'hf'; model = data.model || ''; }\n  else if (data.error) { const em = typeof data.error === 'string' ? data.error : (data.error.message || JSON.stringify(data.error)); throw new Error('Provider error: ' + String(em).slice(0, 300)); }\n  else throw new Error('Unrecognized LLM response: ' + JSON.stringify(data).slice(0, 200));\n  let s = String(text || '').trim();\n  // Strip markdown fences\n  s = s.replace(/^```(?:json)?\\s*\\n?/i, '').replace(/\\n?```\\s*$/g, '').trim();\n  // Find JSON region\n  const startObj = s.indexOf('{'); const startArr = s.indexOf('[');\n  let start; if (startObj === -1) start = startArr; else if (startArr === -1) start = startObj; else start = Math.min(startObj, startArr);\n  if (start === -1) throw new Error('No JSON: ' + s.slice(0, 200));\n  const end = Math.max(s.lastIndexOf('}'), s.lastIndexOf(']'));\n  if (end <= start) throw new Error('Unbalanced JSON: ' + s.slice(0, 200));\n  let raw = s.slice(start, end + 1);\n  // Lenient cleanup \u2014 common AI mistakes that break strict JSON.parse\n  // 1. Strip // line comments (but not inside strings \u2014 basic heuristic: not preceded by \":\")\n  raw = raw.replace(/^(\\s*)\\/\\/[^\\n]*$/gm, '$1');\n  // 2. Strip /* block */ comments\n  raw = raw.replace(/\\/\\*[\\s\\S]*?\\*\\//g, '');\n  // 3. Remove trailing commas before ] or }\n  raw = raw.replace(/,(\\s*[\\]\\}])/g, '$1');\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    const m = /position\\s+(\\d+)/i.exec(e.message);\n    let snippet = '';\n    if (m) {\n      const pos = parseInt(m[1]);\n      const from = Math.max(0, pos - 60); const to = Math.min(raw.length, pos + 60);\n      snippet = ' near: ...' + raw.slice(from, to).replace(/\\n/g, '\\\\n') + '...';\n    }\n    throw new Error('JSON parse failed: ' + e.message + snippet);\n  }\n  out = parsed;\n  if (!out || typeof out !== 'object') throw new Error('Parsed not object');\n  if (!Array.isArray(out.slides)) throw new Error('Missing slides array');\n  out._provider = provider;\n  out._model = model;\n  \n} catch (e) {\n  errMsg = (e && e.message) ? e.message : String(e);\n}\nif (errMsg) return [{ json: { error: errMsg } }];\nreturn [{ json: out }];"
      },
      "id": "pr-006",
      "name": "Presentation Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $json || {};\nlet msg = 'presentation-generate: AI generation failed';\nif (data.error) { if (typeof data.error === 'string') msg = data.error; else if (data.error.message) msg = data.error.message; else msg = JSON.stringify(data.error).slice(0, 300); } else if (data.message) msg = data.message;\nreturn [{ json: { error: msg } }];"
      },
      "id": "be-006",
      "name": "Presentation Build Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error ? 502 : 200 }}"
        }
      },
      "id": "rs-006",
      "name": "Presentation Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        1120
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "game-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-007",
      "name": "Game Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        1340
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const systemBase = [\n  'ROLE: You are a K-12 educational game content designer in the Duolingo + Kahoot + Twinkl tradition.',\n  'OUTPUT: ONLY a JSON object matching the schema at the bottom. NEVER HTML, NEVER CSS, NEVER code.',\n  '',\n  'The frontend renders a fully interactive playable game (drag-drop, scoring, animations, confetti, mascot) \u2014 your job is ONLY to produce the game CONTENT as JSON.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'GAME STYLES (output the gameType matching the requested style)',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'sort       \u2014 items sorted into named buckets',\n  'match      \u2014 pairs to match (left \u2194 right)',\n  'sequence   \u2014 items put in correct order',\n  'fill-blank \u2014 sentence with one or more blanks',\n  'quiz       \u2014 set of MCQ questions',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'CONTENT QUALITY RULES',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  '- 5-8 items per game (or 4-6 questions for quiz). Never fewer.',\n  '- Mix difficulty levels within the SAME game: roughly 30% easy (recall), 40% medium (apply), 30% harder (analyse / multi-step).',\n  '- Order items from easier to harder so confidence builds.',\n  '- Match grade level vocabulary and concept depth.',\n  '- Curriculum-aligned: pull real concepts from the topic, not generic.',\n  '- Make distractors / wrong matches plausible (real misconceptions, not nonsense).',\n  '- Keep item text short and visual \u2014 younger grades read aloud, older grades read silently.',\n  '- Include diverse, culturally-neutral examples.',\n  '',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'OUTPUT FORMAT \u2014 STRICT JSON ONLY',\n  '\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550',\n  'Start your reply with the opening { character. End with }.',\n  'No markdown fences. No prose. No HTML. No JS // comments. No /* */ comments. No trailing commas.',\n  'Pick the gameType matching the requested style and follow its shape EXACTLY.',\n  '',\n  'Schemas (pick exactly one):',\n  '',\n  'sort:',\n  '{',\n  '  \"gameType\": \"sort\",',\n  '  \"payload\": {',\n  '    \"items\": [\"item1\", \"item2\", \"item3\", \"item4\", \"item5\"],',\n  '    \"buckets\": [',\n  '      { \"name\": \"Bucket A\", \"correctItems\": [\"item1\", \"item3\"] },',\n  '      { \"name\": \"Bucket B\", \"correctItems\": [\"item2\", \"item4\", \"item5\"] }',\n  '    ]',\n  '  }',\n  '}',\n  '',\n  'match:',\n  '{',\n  '  \"gameType\": \"match\",',\n  '  \"payload\": {',\n  '    \"pairs\": [',\n  '      { \"left\": \"left text 1\", \"right\": \"right text 1\" },',\n  '      { \"left\": \"left text 2\", \"right\": \"right text 2\" }',\n  '    ]',\n  '  }',\n  '}',\n  '',\n  'sequence:',\n  '{',\n  '  \"gameType\": \"sequence\",',\n  '  \"payload\": {',\n  '    \"items\": [\"step A\", \"step B\", \"step C\", \"step D\"],',\n  '    \"correctOrder\": [0, 1, 2, 3]',\n  '  }',\n  '}',\n  '',\n  'fill-blank:',\n  '{',\n  '  \"gameType\": \"fill-blank\",',\n  '  \"payload\": {',\n  '    \"sentence\": \"The ___ rises in the ___.\",',\n  '    \"blanks\": [\"sun\", \"east\"]',\n  '  }',\n  '}',\n  '',\n  'quiz:',\n  '{',\n  '  \"gameType\": \"quiz\",',\n  '  \"payload\": {',\n  '    \"questions\": [',\n  '      { \"text\": \"...\", \"options\": [\"A\",\"B\",\"C\",\"D\"], \"correctIndex\": 0 }',\n  '    ]',\n  '  }',\n  '}'\n];\nconst system = systemBase.join('\\n');\nconst p = ($json && $json.body) || $json || {};\nconst grade = Number(p.grade); const safeGrade = Number.isFinite(grade) && grade > 0 ? grade : 5;\nconst userMsg = [\n  'Topic: ' + (p.topic || '') + ', Sub-topic: ' + (p.subtopic || '') + '.',\n  'Grade: ' + safeGrade + ', Subject: ' + (p.subject || 'Maths') + '.',\n  'Game style requested: ' + (p.gameStyle || 'sort') + '.'\n].join('\\n');\nreturn [{ json: { system: system, user: userMsg, _payload: p, _kind: 'game-generate' } }];"
      },
      "id": "bp-007",
      "name": "Game Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1340
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($json._payload && $json._payload.model) || 'claude-sonnet-4-5', max_tokens: 4000, system: $json.system, messages: [{ role: 'user', content: $json.user }] }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "cl-007",
      "name": "Game Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        1300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($('Game Build Prompt').first().json._payload && $('Game Build Prompt').first().json._payload.hfModel) || 'meta-llama/Llama-3.3-70B-Instruct', messages: [{ role: 'system', content: $('Game Build Prompt').first().json.system }, { role: 'user', content: $('Game Build Prompt').first().json.user }], max_tokens: 2000, temperature: 0.3 }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "hf-007",
      "name": "Game HF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        1400
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "let out = null;\nlet errMsg = null;\ntry {\n  const data = $json || {};\n  let text = '';\n  let provider = 'unknown';\n  let model = '';\n  if (data.content && Array.isArray(data.content) && data.content[0] && data.content[0].text) { text = data.content[0].text; provider = 'claude'; model = data.model || ''; }\n  else if (data.choices && Array.isArray(data.choices) && data.choices[0] && data.choices[0].message && data.choices[0].message.content) { text = data.choices[0].message.content; provider = 'hf'; model = data.model || ''; }\n  else if (data.error) { const em = typeof data.error === 'string' ? data.error : (data.error.message || JSON.stringify(data.error)); throw new Error('Provider error: ' + String(em).slice(0, 300)); }\n  else throw new Error('Unrecognized LLM response: ' + JSON.stringify(data).slice(0, 200));\n  let s = String(text || '').trim();\n  // Strip markdown fences\n  s = s.replace(/^```(?:json)?\\s*\\n?/i, '').replace(/\\n?```\\s*$/g, '').trim();\n  // Find JSON region\n  const startObj = s.indexOf('{'); const startArr = s.indexOf('[');\n  let start; if (startObj === -1) start = startArr; else if (startArr === -1) start = startObj; else start = Math.min(startObj, startArr);\n  if (start === -1) throw new Error('No JSON: ' + s.slice(0, 200));\n  const end = Math.max(s.lastIndexOf('}'), s.lastIndexOf(']'));\n  if (end <= start) throw new Error('Unbalanced JSON: ' + s.slice(0, 200));\n  let raw = s.slice(start, end + 1);\n  // Lenient cleanup \u2014 common AI mistakes that break strict JSON.parse\n  // 1. Strip // line comments (but not inside strings \u2014 basic heuristic: not preceded by \":\")\n  raw = raw.replace(/^(\\s*)\\/\\/[^\\n]*$/gm, '$1');\n  // 2. Strip /* block */ comments\n  raw = raw.replace(/\\/\\*[\\s\\S]*?\\*\\//g, '');\n  // 3. Remove trailing commas before ] or }\n  raw = raw.replace(/,(\\s*[\\]\\}])/g, '$1');\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    const m = /position\\s+(\\d+)/i.exec(e.message);\n    let snippet = '';\n    if (m) {\n      const pos = parseInt(m[1]);\n      const from = Math.max(0, pos - 60); const to = Math.min(raw.length, pos + 60);\n      snippet = ' near: ...' + raw.slice(from, to).replace(/\\n/g, '\\\\n') + '...';\n    }\n    throw new Error('JSON parse failed: ' + e.message + snippet);\n  }\n  out = parsed;\n  if (!out || typeof out !== 'object') throw new Error('Parsed not object');\n  if (!out.gameType) throw new Error('Missing gameType');\n  out._provider = provider;\n  out._model = model;\n  \n} catch (e) {\n  errMsg = (e && e.message) ? e.message : String(e);\n}\nif (errMsg) return [{ json: { error: errMsg } }];\nreturn [{ json: out }];"
      },
      "id": "pr-007",
      "name": "Game Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1340
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $json || {};\nlet msg = 'game-generate: AI generation failed';\nif (data.error) { if (typeof data.error === 'string') msg = data.error; else if (data.error.message) msg = data.error.message; else msg = JSON.stringify(data.error).slice(0, 300); } else if (data.message) msg = data.message;\nreturn [{ json: { error: msg } }];"
      },
      "id": "be-007",
      "name": "Game Build Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1460
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.error ? 502 : 200 }}"
        }
      },
      "id": "rs-007",
      "name": "Game Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        1340
      ]
    }
  ],
  "connections": {
    "Diagnostic Webhook": {
      "main": [
        [
          {
            "node": "Diagnostic Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diagnostic Build Prompt": {
      "main": [
        [
          {
            "node": "Diagnostic Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Diagnostic Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diagnostic Claude": {
      "main": [
        [
          {
            "node": "Diagnostic Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Diagnostic HF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diagnostic HF": {
      "main": [
        [
          {
            "node": "Diagnostic Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Diagnostic Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diagnostic Parse": {
      "main": [
        [
          {
            "node": "Diagnostic Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diagnostic Build Error": {
      "main": [
        [
          {
            "node": "Diagnostic Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Webhook": {
      "main": [
        [
          {
            "node": "Analyze Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Build Prompt": {
      "main": [
        [
          {
            "node": "Analyze Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Claude": {
      "main": [
        [
          {
            "node": "Analyze Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze HF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze HF": {
      "main": [
        [
          {
            "node": "Analyze Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Parse": {
      "main": [
        [
          {
            "node": "Analyze Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Build Error": {
      "main": [
        [
          {
            "node": "Analyze Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment Webhook": {
      "main": [
        [
          {
            "node": "Assessment Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment Build Prompt": {
      "main": [
        [
          {
            "node": "Assessment Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assessment Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment Claude": {
      "main": [
        [
          {
            "node": "Assessment Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assessment HF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment HF": {
      "main": [
        [
          {
            "node": "Assessment Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assessment Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment Parse": {
      "main": [
        [
          {
            "node": "Assessment Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assessment Build Error": {
      "main": [
        [
          {
            "node": "Assessment Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worksheet Webhook": {
      "main": [
        [
          {
            "node": "Worksheet Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worksheet Build Prompt": {
      "main": [
        [
          {
            "node": "Worksheet Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Worksheet Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worksheet Claude": {
      "main": [
        [
          {
            "node": "Worksheet Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Worksheet HF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worksheet HF": {
      "main": [
        [
          {
            "node": "Worksheet Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Worksheet Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worksheet Parse": {
      "main": [
        [
          {
            "node": "Worksheet Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worksheet Build Error": {
      "main": [
        [
          {
            "node": "Worksheet Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LessonPlan Webhook": {
      "main": [
        [
          {
            "node": "LessonPlan Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LessonPlan Build Prompt": {
      "main": [
        [
          {
            "node": "LessonPlan Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LessonPlan Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LessonPlan Claude": {
      "main": [
        [
          {
            "node": "LessonPlan Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LessonPlan HF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LessonPlan HF": {
      "main": [
        [
          {
            "node": "LessonPlan Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LessonPlan Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LessonPlan Parse": {
      "main": [
        [
          {
            "node": "LessonPlan Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LessonPlan Build Error": {
      "main": [
        [
          {
            "node": "LessonPlan Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presentation Webhook": {
      "main": [
        [
          {
            "node": "Presentation Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presentation Build Prompt": {
      "main": [
        [
          {
            "node": "Presentation Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Presentation Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presentation Claude": {
      "main": [
        [
          {
            "node": "Presentation Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Presentation HF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presentation HF": {
      "main": [
        [
          {
            "node": "Presentation Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Presentation Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presentation Parse": {
      "main": [
        [
          {
            "node": "Presentation Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presentation Build Error": {
      "main": [
        [
          {
            "node": "Presentation Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Game Webhook": {
      "main": [
        [
          {
            "node": "Game Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Game Build Prompt": {
      "main": [
        [
          {
            "node": "Game Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Game Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Game Claude": {
      "main": [
        [
          {
            "node": "Game Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Game HF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Game HF": {
      "main": [
        [
          {
            "node": "Game Parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Game Build Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Game Parse": {
      "main": [
        [
          {
            "node": "Game Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Game Build Error": {
      "main": [
        [
          {
            "node": "Game Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}